@font-face {
  font-family: MetronLamont;
  src: url(../font/MetronLamont.ttf); }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

li {
  list-style-type: none; }

input, select {
  vertical-align: middle; }

a {
  color: #fff !important;
  text-decoration: none; }

* {
  font-family: MetronLamont; }

.container {
  max-width: 990px;
  margin: 0px auto;
  padding: 0 15px; }

header, footer {
  background: #0070af; }

header {
  font-weight: 100px; }
  header h1 {
    color: #ffffff;
    font-size: 28px;
    letter-spacing: 1px;
    padding-top: 40px;
    padding-bottom: 48px; }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 35px; }
  header li {
    display: inline-block;
    font-size: 18px; }

.s2 {
  margin-top: 45px; }
  .s2 .container_slide {
    max-width: 1140px;
    margin: 0 auto;
    position: relative; }
  .s2 .left-Click, .s2 .right-click {
    position: absolute;
    top: 205px;
    z-index: 9999;
    cursor: pointer; }
    .s2 .left-Click i, .s2 .right-click i {
      color: #056ba4;
      font-size: 50px; }
  .s2 .right-click {
    right: 75px; }
    .s2 .right-click i {
      margin-right: 12px; }
  .s2 .left-Click {
    left: 75px; }
    .s2 .left-Click i {
      margin-left: 15px; }
  .s2 .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.s1, .s3 {
  color: #585656; }
  .s1 .container, .s3 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .s1 h2, .s3 h2 {
    font-weight: 100;
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 30px; }
  .s1 p, .s3 p {
    line-height: 1.80;
    margin-right: 50px;
    font-size: 17px; }
  .s1 img, .s3 img {
    margin-top: 100px;
    margin-right: 95px;
    height: 315px; }

.s3 .container {
  margin-bottom: 50px; }
  .s3 .container p {
    line-height: 1.35;
    word-wrap: break-word;
    margin-top: 50px;
    letter-spacing: 0.3px;
    margin-right: 0; }

.s3 img {
  margin-right: 10px;
  margin-left: 0px;
  margin-top: 70px; }

footer {
  color: #fff; }
  footer span:nth-child(2) {
    margin-left: 15px; }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    footer .container .left {
      font-size: 26px; }
    footer .container .right {
      margin-top: 25px;
      margin-bottom: 25px; }
      footer .container .right li {
        font-size: 16px;
        text-align: left; }
      footer .container .right ul > li:nth-child(2) {
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 2px; }
      footer .container .right ul > li:nth-child(1) > i {
        margin-left: 7px; }

@media screen and (max-width: 768px) {
  .s1 .container, .s3 .container, footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .s2 .container_slide {
    width: 100%; }
  .s1 img, .s3 img {
    margin: 0 auto;
    margin-top: 15px;
    width: 100%; }
  .s1 h2, .s3 h2 {
    text-align: center; }
  .left {
    margin-top: 15px; }
  #myNavbar {
    display: none; } }

@media screen and (max-width: 992px) {
  .s1 p {
    margin-right: 0; }
  .slick-slide img {
    width: 100%; }
  .s2 .left-Click, .s2 .right-click {
    top: 130px; }
  .s2 .left-Click i, .s2 .right-click i {
    font-size: 36px; } }

@media screen and (min-width: 768px) {
  .header_top {
    display: none; } }

@media screen and (max-width: 768px) {
  .s1 img {
    margin-top: 30px; }
  .s3 h2 {
    margin-top: 20px;
    margin-bottom: 10px; }
  .s3 .container p {
    margin-top: 20px; }
  .s2 .left-Click, .s2 .right-click {
    top: 35%; }
  .s1 img, .s3 img {
    height: auto; } }

@media screen and (min-width: 540px) and (max-width: 768px) {
  .s1 img, .s3 img {
    width: 60%; } }

@media screen and (max-width: 480px) {
  header h1 {
    font-size: 18px; }
  .s1 h2, .s3 h2 {
    font-size: 22px; }
  .s1 p, .s3 p {
    font-size: 14px; }
  footer .container .right li {
    font-size: 12px; }
  footer .container .left {
    font-size: 16px; } }

.hidden-menu-ticker {
  display: none; }

.hidden-menu {
  display: block;
  position: fixed;
  list-style: none;
  padding: 10px;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  background-color: #1290d8;
  height: 100%;
  top: 0px;
  left: -200px;
  -webkit-transition: left .2s;
  transition: left .2s;
  z-index: 9999;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  z-index: 99999; }

.hidden-menu li {
  display: block;
  margin-top: 15px;
  cursor: pointer; }

.btn-menu {
  color: #fff;
  padding: 5px;
  cursor: pointer;
  -webkit-transition: left .23s;
  transition: left .23s;
  z-index: 3;
  position: absolute;
  right: 10px;
  top: 35px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden; }

.btn-menu span {
  display: block;
  height: 3px;
  width: 25px;
  background-color: #fff;
  margin: 7px 0 0;
  -webkit-transition: all .1s linear .23s;
  transition: all .1s linear .23s;
  position: relative; }

.btn-menu span.first {
  margin-top: 0; }

.hidden-menu-ticker:checked ~ .hidden-menu {
  left: 0; }

.hidden-menu-ticker:checked ~ .btn-menu span.first {
  -webkit-transform: rotate(45deg);
  top: 10px; }

.hidden-menu-ticker:checked ~ .btn-menu span.second {
  opacity: 0; }

.hidden-menu-ticker:checked ~ .btn-menu span.third {
  -webkit-transform: rotate(-45deg);
  top: -10px; }

.hamburger-box1 {
  margin-top: -18px;
  z-index: 99998; }

.nav-active {
  position: relative; }

.nav-active:after {
  content: '';
  position: absolute;
  height: 1px;
  top: 25px;
  width: 100%;
  background: #fff;
  left: 0; }

.br {
  display: none; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .sq_biog, .info {
    max-width: 100%; }
  .br {
    display: block; }
  .s1 img, .s3 img {
    height: 100%; } }
