@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');

$white: #fff;
$light-blue: #00e0d0;
$roboto: 'Roboto', sans-serif;
$grey: #78777b;
$playfair: 'Playfair Display', serif !important;
$font-100: 100;
$fontsize-14: 14px;
$red-brown: #413d4b;
$fontsize-22: 22px;
$white-grey: #ebebeb;

header
    background: url(../img/background.png) no-repeat center top/cover;
    text-align: center
body
    font-family: Myriad Pro, sans-serif;
*
	margin: 0;
	padding: 0;
ul li
    list-style-type: none;
.nav-item a
    font-size: 13px;
    color: $white !important;
    font-weight: 600;
    margin-right: 25px;
    text-transform: uppercase;
    &:hover
        color: $light-blue  !important;
.product-view
  	background: url(https://dy999ib17dqym.cloudfront.net/skin/frontend/peets_redesign/default/images/bg-type-1.png);
.hrAll
	background: #655c80;
	height: 1px;
	width: 50px;
	border: none;
	margin: 30px auto 50px ;
p
	font-family: $roboto;
h2
	font-size: $fontsize-14;
	color: $grey;
	text-align: center;
	margin-bottom: 20px;
	font-family: $playfair
	letter-spacing: 0.7px;
	font-weight: $font-100;
.container h3
	font-size: $fontsize-22;
	text-align: center;
	margin: 0 auto;
	color: $red-brown;
	margin-top: 70px;
	margin-bottom: 20px;
	font-family: $playfair;
.headerTitle h1
	font-size: 32px;
	color: $white;
	text-align: center;
	font-weight: 500;
	margin-top: 165px;
	margin-bottom: 25px;
	font-family: $playfair;
.headerTitle__Description p
	font-size: 14px;
	line-height: 1.7;
	color: $white;
	font-weight: 500;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 50px;
	margin-top: 30px;
    
    
.header__click
	cursor: pointer;
	height: 10px;
	width: 10px;
	margin: 0 2px;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	margin-top: 35px;
	margin-bottom: 85px;
	border: 2px solid $white;
.active, header__click:hover
	background-color: $white;
	height: 10px;
	width: 10px;
#headerTitle__Description-text_1 p, #headerTitle__Description-text_2 p, #headerTitle__Description-text_3 p, #headerTitle__Description-text_4 p
    color: $white
    font-family: $roboto
    font-size: 14px;
    margin-left: 100px;
    margin-right: 100px;

/*---------------------------------------------------------------------------------------------*/
.sectionOne-box .btn, .sectionFourth .btn, .sectionFifth .btn,.sectionSeventh .btn, .header .btn
    border: 1px solid $light-blue;
    padding: 11px;
    color: $light-blue;
    border-radius: 2px;
    margin-bottom: 70px;
    font-weight: 700;
    a
        text-decoration: none;
        color: $light-blue !important;
.sectionOne-box .btn:hover ,.sectionFourth .btn:hover,.sectionFifth .btn:hover, .sectionSeventh .btn-outline-primary:hover, .header .btn:hover, .btn-outline-primary:active, .btn-outline-primary:focus
    border: 1px solid $light-blue !important;
    background: $light-blue !important;
    color: $white !important;
    box-shadow: none !important;
    a
        color: $white !important;
.btn-outline-primary::-moz-focus-inner
    outline: none !important;
    box-shadow: none !important;
.sectionOne-box
    margin-top: 70px;
    p
        color: #716e78;
        font-size: $fontsize-14;
        line-height: 1.7;
        margin-bottom: 30px;
    h3
        color: $red-brown;
        font-size: $fontsize-22;
        margin-bottom: 30px;
        font-family: $playfair;
        margin-top: 0px
/*---------------------------------------------------------------------------------------------*/
.sectionSecond
    background: url(../img/overlay.png) no-repeat center top/cover;
    &__title
        color: $white;
        padding-bottom: 200px;
        margin-top: 100px;
    &__playVideo
        text-align: center;
        padding-top: 240px;
        img
            border-radius: 50%;
        a
            width: 100px;
            margin: 0 auto;
            border-radius: 50%;
/*---------------------------------------------------------------------------------------------*/
.sectionThird 
    h2
        font-size: 14px;
        color: #78777b;
.sectionThird__box-subsection  
    text-align: center;
    border-right: 1px solid $white-grey;
    border-bottom: 1px solid $white-grey;
    border-collapse: collapse;
    img
        margin-bottom: 35px;
        height: 50px;
        margin-top: 38px;
    h4
        margin-bottom: 25px;
        font-size: $fontsize-14;
        color: #413d4b;
        font-weight: 700;
    p
        margin-bottom: 40px;
        font-size: $fontsize-14;
        line-height: 1.5;
        color: #7a7a7a;
    &:nth-last-child(-n+1)
        border-right: none;
.sectionThird__box-clear
    border-bottom: none;
/*---------------------------------------------------------------------------------------------*/
.sectionFourth
    background: url(../img/overlay2.png)  no-repeat center top/cover ;
    text-align: center;
    h2
        color: $white;
        font-size: $fontsize-14;
        font-weight: $font-100;
    h3
        padding-top: 70px;
        color: #fff;
    &__h2
        margin: 60px 0 40px 0;
    &__person
        display: inline-block;

.borderPerson
    border: 1px solid #7c7890;
    h5
        color: #f3f3f5;
        margin-top: 20px;
        font-size: $fontsize-14;
    h6
        color: #afaebb;
        margin-bottom: 22px;
        font-size: 13px;
        font-weight: 400;

/*---------------------------------------------------------------------------------------------*/
.sectionFifth 
    h2
        margin: 70px 0;
        font-size: $fontsize-14;
        font-weight: $font-100;
        float: right;
    h3
        text-align: left;
        display: inline-block;
        margin: 70px 0;
    .btn
        margin: 50px 0;
        padding: 10px 20px;
    &__img img
        width: 16.6666666667%;
    &__button
	   text-align: center;
/*---------------------------------------------------------------------------------------------*/
.sectionSixth
    background: url(../img/overlay3.png) no-repeat center top/cover; 
    text-align: center;
    &-commas
        padding-top: 70px;
    p
        font-family: $playfair ;
        color: $white-grey;
        line-height: 1.5;
        font-weight: 400 ;
        margin-top: 40px;
        margin-bottom: 50px;
        font-size: 16px;
        letter-spacing: 1px;
    h5
        font-family: Playfair Display;
        font-weight: 600 ;
        color: #fff;
        font-size: $fontsize-14;
    h6
        font-size: 13px;
        color: #bfbcc9;
        font-weight: 100;
    &__slideshow__mySlides
        max-width: 1000px;
        position: relative;
        margin: auto;
        padding-bottom: 50px;
.prev
    float: right;
    margin-top: 10px;
    cursor: pointer;
.next
    float: left;
    margin-top: 10px;
    cursor: pointer;
.sectionSixth__slideshow__mySlides:not(.show) 
    opacity: 1 !important;
/*---------------------------------------------------------------------------------------------*/
.sectionSeventh
    h3
        font-size: 22px;
        float: left;
        font-weight: 600;
        margin-bottom: 30px;
    .btn
        padding: 10px 30px;
        margin-top: 20px;
input[type="text"], input[type="password"],input[type="tel"],input[type="email"]
	height: 45px;
	font-size: $fontsize-14;
	margin-bottom: 22px;
	padding-left: 20px;
	border: 1px solid $white-grey;
	background-color: transparent;
	border-radius: 0px;
#exampleFormControlTextarea
	font-size: $fontsize-14;
	padding-left: 20px;
	padding-top: 10px;
	height: 200px;
	border-radius: 0px;
.sectionSeventh__second h3
	margin-left: 84px;
.brandFirst
    width: 170px;
    display: inline-block;
    text-align: center;
    float: left;
    margin-right: 45px;
    margin-bottom: 45px;
    img
        margin-bottom: 45px;
.client
	width: 385px;
	margin-left: 84px;
	display: inline-block;
	margin-bottom: 70px;
.flexbox-wrapper
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
/*---------------------------------------------------------------------------------------------*/
footer
	background: url(../img/overlayFooter.png) no-repeat center top/cover;
.sectionFooter__box
    margin-top: 50px;
    color: $white;
    font-weight: $font-100;
    font-family: $roboto;
    font-size: 14px;
    letter-spacing: 0.6px;
    padding-right: 0px !important;
    h5
        margin-bottom: 40px;
        font-weight: 600;
        font-size: 15px;
    p
        margin-top: 8px;
input[type="submit"]
    background: url('../img/paper122.png');
    height: 45px;
    width: 60px;
    border: none;
    cursor: pointer;
    opacity: 1;
input[type="submit"]:hover
    opacity: 0.5;
.footer__submit
    color: $white;
.sectionFooter__submit--miniIcon 
    img
	   border-radius: 50%;
    a
	   margin-right: 11px;
footer
    .footerMenu a
        float: left;
        color: $white;
        margin-left: 10px;
        margin-top: 36px;
        margin-bottom: 50px;
        text-decoration: none;
        &:hover
            color: $light-blue;
    h6
        color: $white;
        float: right;
        margin-top: 50px;    
    /*---------------------------------------------------------------------------------------------*/
@media screen and (max-width: 992px)
    .subsection  
        border: 1px solid $white-grey;
        border-collapse: collapse;
        &:nth-last-child(-n+1)
            border-right: 1px solid #ebebeb;
    .brandFirst
        width: 100%;
        img
            max-width: 100%; 
            height: auto; 
            margin-bottom: 0;
    .title h1 
        margin-top: 0px;
    .nav-item a:hover
        color: #07c4be !important;
    .client
        width: 100%;
        margin-left: 0px;
        margin-bottom: 0px;
    .sectionSeventh h3
        margin-left: 0px;
        margin-top: 0px;
    .sectionFooter__box-logo
        margin: 30px auto;
        display: block;
    .sectionThird-box-second .subsection
        border-bottom: 1px solid #ebebeb;
@media screen and (min-width: 992px)
    .flexbox-wrapper
        display: block;
@media screen and (max-width: 576px)
    .sectionOne-box
        img
            display: none;
        .btn
            margin: 30px auto;
            display: block;
    .sectionSixth p
        height: 200px;
    .miniIcon a
        margin-right: 8px;
    footer
        a, h6
            font-size: 11px;
	   .sectionFourth__person img
            width: 125px;
@media screen and (max-width: 1200px)
    .sectionFourth__person
        margin-top: 30px;
    #headerTitle__Description-text_1 p, #headerTitle__Description-text_2 p, #headerTitle__Description-text_3 p, #headerTitle__Description-text_4 p
        margin-left: 0px;
        margin-right: 0px;
@media screen and (max-width: 368px)
	.sectionSixth p
		height: 275px;
	footer a
	   font-size: 8px; 
@media (max-width: 768px) and (min-width: 576px)
    .miniIcon a
        margin-right: 50px;
        &:last-child
            margin-right: 0px;
@media (max-width: 1200px) and (min-width: 992px)
    .miniIcon a
        margin-right: 5px;