  @font-face {
    font-family: MetronLamont; 
    src: url(/font/MetronLamont.ttf);
  }
  html, body, div, span, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  abbr, address, cite, code,
  del, dfn, em, img, ins, kbd, q, samp,
  small, strong, sub, sup, var,
  b, i,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section, summary,
  time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
  }
  body {
    line-height:1;
    background: #e8dfd9;
  }
  article,aside,details,figcaption,figure,
  footer,header,hgroup,menu,nav,section {
    display:block;
  }
  nav ul {
    list-style:none;
  }
  blockquote, q {
    quotes:none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content:'';
    content:none;
  }
  a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
  }
  ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
  }
  del {
    text-decoration: line-through;
  }
  abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
  }
  table {
    border-collapse:collapse;
    border-spacing:0
  }
  hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
  }
  li{
    list-style-type: none;
  }
  input, select {
    vertical-align:middle;
  }

  .container{
    max-width: 1450px;
    overflow: hidden;
    margin:0 auto;
    font-family: MetronLamont;
    letter-spacing: 1px;
    background: #fff;
    border-radius: 40px;
    margin-top: 175px;
    z-index: 9999;
    .block_box{
     width: 1250px;
     height: 1175px;
     background: #f3da8b;
     display: block;
     position: absolute;
     transform: rotate(45deg);
     top: 20px;
     margin-left: 95px;
     z-index: -99;
   }
   .block_box:before{
    position: absolute;
    content: '';
    left: -150px;
    top: -50px;
    opacity: 0.8;
    width: 665px;
    height: 665px;
    transform: rotate(90deg);
    background: #a0ce8a;  
  }
  .block_box:after{
    content: '';
    position: absolute;
    left: 750px;
    bottom: -50px;
    opacity: 0.8;
    width: 665px;
    height: 665px;
    transform: rotate(90deg);
    background: #ed9db3;  
  }
  .triangle-left{
   width: 340px;
   height: 340px;
   background: #ffe99c;
   position: absolute;
   left: -675px;
   transform: rotate(45deg);
   top: 120px;
 }
 .triangle-left:after{
  width: 150px;
  height: 150px;
  background: #f7abc4;
  content: '';
  position: absolute;
  right: -20px;
  top: -50px;
  opacity: 0.8;
  transform: rotate(90deg);
}
.triangle-right{
  width: 340px;
  height: 340px;
  background: #ffe99c;
  transform: rotate(45deg);
  position: absolute;
  right: -540px;
  bottom: -160px;
}
.triangle-right:after{
  width: 150px;
  height: 150px;
  background: #a9dc9a;
  content: '';
  position: absolute;
  right: 245px;
  top: -20px;
  opacity: 0.8;
  transform: rotate(90deg);
}
}
.form-registration{
  width: 440px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 75px;
  h2{
    color: #c4854c;
    font-size: 32px;
    padding: 25px 0;
    font-weight: 100;
  }
  input[type="text"]{
    height: 50px;
    border: 1px solid #bc8044;
    width: 100%;
    font-size: 32px;
    padding-left: 10px;
    color: #bc8044;
  }
  button{
    display: block;
    color:#fff;
    font-family: MetronLamont;
    text-transform: uppercase;
    margin-top: 60px;
    width: 100%;
    background: #bc8044;
    letter-spacing: 2px;
    font-size: 36px;
    cursor: pointer;
    outline: none;
    border:none;
    padding: 15px 0;
  }
  .form-wrapper_section{
    display: none;
  }
  .form-wrapper_section.active{
    display: block;
  }
  select{
  height: 54px;
  width: 103%;
  font-size: 32px;
  padding-left: 10px;
  color: #bc8044;  
  position: relative;
  border: 1px solid #bc8044;
  margin-bottom: -15px;
  padding-right: 25px;
  appearance: none;
}
.select{
  position: relative;
}
.select:after {
  content: "";  
  background:url(/img/tr.png) no-repeat;
  position: absolute; 
  right: 0px; 
  top: 9px;
  z-index: 1;
  width: 45px;
  margin-top: -2px;
  height: 35px;
  pointer-events: none;
  cursor: pointer;
}
}

.steps{
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  margin-left: 100px;
  z-index: 9999;
  margin-right: 150px;
  li{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  span{
    font-size: 18px;
    text-transform: uppercase;
    color: #ddccbf;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .steps_circle{
    height: 12px;
    width: 12px;
    margin-top: -1px;
    background: #ad9480;
    border-radius: 50%;
    z-index: 999;
  }
  hr{
    width: 380px;
    position: absolute;
    left: -329px;
    top: -13.5px;
    background: #eae4df;
    height: 5px;
    border:none;
    z-index: 1;
  }
  .active hr{
    background: #bf8347 !important;
  }
  .active .steps_circle{
    height: 12px !important;
    width: 12px  !important;
    background: #fff !important;
    border-radius: 50%;
    border:15px solid #be8146;
    margin-top: -15px !important;
  }
  .active-min .steps_circle{
    margin-top: -11.5px !important;
    border:8px solid #be8146;
  }
  .active span{
    color: #ad7135 !important;
    margin-top: 20px !important;
  }
}
.last-section{
  font-family: MetronLamont; 
  text-align: center;
  margin-bottom: 98px;
  width: 900px;
  line-height: 1.25;
  margin-left: -225px;
  h1{
    font-size: 48px;
    color: #c47e41;
    padding: 70px 0;
  }
  p{
    font-size: 36px;
    margin-bottom: 50px;
  }
  span{
    font-size: 24px;
    a{
      color: #000 !important;
    }
  }

}