header{
	background:#4a454b;background: url(..//img/background/background_01.jpg) no-repeat center top / cover;
    height: 100%;
	position: relative;
	clip-path:  polygon(0px 0%, 100% 0px, 100% 78.5%, 0px 94.86%);;
}
body {
    padding: 0;
    margin: 0;
    font-family: Myriad Pro, sans-serif;
	min-width: 1280px;
}
div {
	box-sizing: border-box;
}
*{
	margin:0;
	padding: 0;
}
.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}
.conteinerBig{
	width: 1170px;
	margin: 0 auto;
}
.conteinerMedium{
	width: 1030px;
	margin: 0 auto;
}
.conteinerLittle{
	width: 970px;
	margin: 0 auto;
}
.logoHeader{
	padding-bottom: 120px;
}
.logo{
	margin-top: 50px;
}
.listMenu{
	display: block;
}
.listMenu li{
	float: left;
	display: block;
	margin-left: 40px;
}
.listMenu a{
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	text-transform: uppercase;
}
.listMenu a:hover {
	text-decoration: none;  
	color: #90d23d;
}
nav li:first-child{
    margin-left: 0;
}
nav{
	float: right;
	margin-top: 70px;
}
#timeClock{
	font-size: 130px;
	border: 2px solid #90d23d;
	width: 970px;
	height: 200px;
	box-sizing: border-box;
	color: white;
	text-transform: uppercase;
	border-radius: 18px;
	font-family:  Verdana, Arial, Helvetica, sans-serif;;
}
.days, .hours, .minutes ,.seconds{
	float: left;
}
.timeClockText_inscription{
	font-size: 25px;
	float: left;
	margin-left: 110px;
	text-align: center;
	margin-right: 20px;
}
.timeClockText_inscription:nth-child(2){
	margin-left: 120px;
}
.timeClockText_inscription:nth-child(3){
	margin-left: 100px;
}
.timeClockText_inscription:nth-child(4){
	margin-left: 90px;
	margin-right: 0px;
}
.timeClockFixed{
	margin-top: 0px;
	line-height: 1.1;
    padding-left: 55px;
}
.sticker img{
    margin-left: -50px;
	position: relative;
}
.sticker{
    padding-top: 200px;
}
/* -------------------------------------------------------------------- */
.SectionFirst{
	padding-top: 55px;
	background: white;
}
.FormsFixed :focus {
    border: 1px solid #90d23d; /* Параметры рамки */
}
.Forms .FormsFixed{
	margin-left: 0px;
	z-index:10;
	padding-bottom: 0px;
	margin-left: 20px;
}
.FormsFixed{
	padding-bottom: 20px;
	margin-left: 400px;
}
.Forms {
	width: 400px;
    margin-top: -350px;
    position: absolute;
    margin-left: 620px;
}
.Forms p{
	font-size: 15px;
	color: #6c6c6c;
    margin-left: -20px;
    text-align: center;
}
.conteinerMedium .Forms{
	background: white;
	border:1px solid #90d23d;
	float: right;
	width:430px;
 	box-shadow: 0px 2px 2px 0px rgba(0, 50, 50, 0.75);
	border:1px solid #bebebe;
} 
.Forms input[type="email"] , input[type="tel"],input[type="text"]{
  	margin-top: 0px;
    margin-bottom: 20px;
	width: 375px;
	height: 55px;
	font-size: 18px;
	padding-left: 20px;
	border: 1px solid #bebebe;
	border-radius: 5px;
}
.Forms .submit{
	width: 375px;
	margin-bottom: 20px;
}
.Forms h1{
	color: #252525;
	font-size: 30px;
	margin: 20px 0 20px 40px ;
}
.Images{
	padding-bottom: 100px;
}
.ImagesMini{
	width: 325px;
	text-align: center;
	float: left;
	margin-right: 25px;
}
.ImagesMini:last-child{
	margin-right: 0px;
	float: right;
}
.ImagesMini h2{
	font-size: 35px;
	color: #242424;
	padding: 25px 0 15px 0;
}
.ImagesMini p{
	font-size: 14px;
	color: #242424;
}
.ImagesFixed{
	height: 401px;
}
table{
	color: white;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 14px;
}
thead td{
	background: #a3cc40;
	font-size: 18px;
	padding:13px 0 13px 67px;
}
tbody td{
	font-size: 14px;
	padding: 5px 0 5px 50px;
}
tbody img{
	float: right;
	padding:10px 50px 10px 0; 
}
.rowGray{
	background: #373737;
}
.rowGraySecond{
	background:#4b4d4f;
}
.tableBig p{
	font-size: 12px;
	color: #242424;
	text-align: center;
	width: 760px;
	margin:0 auto;
	padding: 25px 0 200px 0;
} 
.EliteBlock img{
	position: absolute;
	margin-top: -85px;
	z-index: 1010;
}/* 
---------------------------------------------------------- */
.SectionSecond{
	height: 100%;
	background:  url(..//img/background/background_02.jpg) no-repeat center top / cover;
    clip-path:polygon(0px 13.43%, 100% 0px, 100% 87.57%, 0px 100%);
    padding-bottom: 160px;
}
.SectionSecond h3{
	padding: 15px 25px 15px 35px;
	color: white;
	font-size: 18px;
	float: right;
	background: #90d23d;
	border-radius: 14px;
}
.SectionSecond .SectionTitle p{
	padding-bottom: 55px;
}/* 
------------------------------------------------------------------------ */
.containerThird .SectionTitle p{
	padding-bottom: 50px;
}
.SectionTitle{
	color: #242424;
	width: 563px;
	-webkit-height:500px;
	-webkit-width:500px;
	float: left;
}
.SectionTitle p{
	margin-top: 15px;
	font-size: 14px;
	line-height: 1.4;
	padding-bottom: 110px;
}
.reward{
	float: right;
	text-align: right;
	color: white;
	padding-top: 160px;
	padding-bottom: 10px;
}
.Speakers{
	width: 100%;
	padding-top: 80px;
}
.Speakers h1{
	padding-left: 25px;
}
.block img{
	height: 321px;
}
.block img{
	padding: 25px 16px 0 25px;
}
.block img:nth-child(4n+1){
	float: left;
	padding-left: 0px;
}
.block img:nth-child(2){
	float: left;
	padding-left: 0px;
}
.block img:nth-child(3n+1){
	float: right;
	padding-right: 0px;
}
.block{
	padding-bottom: 150px;
}/* 
------------------------------------------------------------------------- */
.containerFourth{
	padding-top: 150px;
	padding-bottom: 140px;3
	background: #4b4d4f;
	background:  url(..//img/background/background_03.jpg) no-repeat center top / cover;
}
.sponsorBlock{
	color: white;
	text-align: center;
	width: 100%;
}

.sponsorImages{
	text-align: center;
}
.sponsorImages img:nth-child(2){
	padding: 0 90px;
}
.containerFourth h4{
	text-align: center;
	width: 200px;
	display: block;
	margin:0 auto;
	margin-top: 80px;
	padding: 15px 25px 15px 35px;
	color: white;
	font-size: 22px;
	text-decoration: none;
	background: #90d23d;
	border-radius: 14px;
}/* 
--------------------------------------------------------------------------------- */
.containerFifth h3{
	color: white;
	background: #373737;
	width: 260px;
	border-radius: 14px;
	padding: 15px;
	text-align: center;
    font-size: 24px;
	display: block;
	margin: 80px auto;
}
.pastBlock{
	padding-left: 30px;
	padding-top: 70px;
	width: 640px;
}

.fourPhotoContent img{float: left;
	padding: 0;
	margin: 0px;
}/* 
---------------------------------------------------------------------------------------
 */
.preLast{
	background: url(../img/background/Map.png) no-repeat center top/cover ;
	padding-top: 70px;
	padding-bottom: 70px;
}
.preLast h4{
	width: 150px;
	color: white;
	background: #90d23d;
	margin:0 auto;
	padding: 15px ;
	border-radius: 14px;
}
.preLast p{
	color: #454444;
	line-height: 1.4;
	font-size: 14px;
	margin-top: 15px;
}
.submit{
	background: #373737;
	color: white;
	font-size: 20px;
	display: block;
	padding: 15px 10px;
	border:none;
	cursor: pointer;
	border-radius: 5px;
	width: 400px;
	margin-top: 25px;
	margin-bottom: 50px;
}
 .imputBlock{
 	background: white;
 	height: 500px;
 }
.imageBottonMap{
	width: 270px;
	text-align: center;
	padding-top: 70px;
	margin-left: 70px;
 	float: left;
 }
.impute{
	margin-top: 60px;
	width: 970px;
	height: 530px;
	background: white;
	padding-top: 150px;
}
textarea{
	margin-top: 20px;
	height: 250px;
	resize: none;
	min-height:200px;
	max-height: 200px;
}
input::-moz-placeholder {  /* Firefox 19+ */
	color: #6c6c6c !important;  
}
textarea::-moz-placeholder {  /* Firefox 19+ */
	color: #bebebe !important;  
}
input[type="email"],textarea{
	width: 400px;
	height: 30px;
	font-size: 15px;
	padding-left: 20px;
	border: 1px solid #90d23d;
	background-color: transparent;
	border-radius: 5px;
}
input[type="email"]{
	margin-top: 50px;
	margin-bottom: 20px;
}/* 
---------------------------------------------------------------------------------- */
 footer{
 	background: #90d23d;
 }
 .footerBlock{
 	text-align: center;
 	color: white;
 	margin-bottom: 0px;
 	padding-top: 50px;	
 }
.footerBlock h5{
 	padding: 20px 0 30px 0;
 	font-size: 15px;
 }
.footerBlock img{
	margin-right: 10px;
}
.onHeader{
 	float: right;
	margin:  -100px 0 0 0px;
	padding: 0 0 85px 0;
}
.onHeader img {
	vertical-align: middle;
	float: right;
}







