@font-face {
  font-family: HelveticaNeueCyr;
  src: url(../font/HelveticaNeueCyr-Bold.ttf); }

@font-face {
  font-family: FreightSansLight;
  src: url(../font/FreightSansLight.otf); }

@font-face {
  font-family: FreightSansMedium;
  src: url(../font/FreightSansMedium.otf); }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

li {
  list-style-type: none; }

input, select {
  vertical-align: middle; }

a {
  color: #fff !important; }

.block_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.block_main {
  max-width: 1580px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative; }

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1580px; }

header {
  background: #f1f1f1;
  border-bottom: 1px solid #d3d7da; }

form input {
  color: #adadad;
  border: none;
  font-family: FreightSansMedium;
  font-size: 22px;
  background-color: transparent;
  width: 350px;
  padding: 15px 50px;
  text-align: left;
  margin-left: -15px; }

.header_all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 0 30px; }

.heder_left, .header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.heder_left .circle {
  margin-right: 10px; }

.header_right {
  /* Hover state */
  /*  */
  /* Active state */
  /* No CSS3 support */ }
  .header_right .circle {
    margin-right: 10px; }
  .header_right .wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 165px;
    margin: 0 auto;
    padding: 10px;
    /* Styles */
    border: 1px solid #d3d7da;
    border-radius: 25px;
    padding: 12px 15px;
    color: #4b4b4b;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    font-family: HelveticaNeueCyr;
    font-size: 14px; }
  .header_right .wrapper-dropdown-3:after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    background: url("../img/header/speak_grey.png") no-repeat; }
  .header_right .wrapper-dropdown-3 .dropdown {
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;
    z-index: 99999;
    background: #d3d7da;
    border-radius: inherit;
    border: 1px solid rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;
    opacity: 0;
    pointer-events: none; }
  .header_right .wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #8aa8bd;
    border-bottom: 1px solid #e6e8ea;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
  .header_right .block_margin {
    font-size: 102px !important;
    color: #d3d7da; }
  .header_right .wrapper-dropdown-3 .dropdown span:hover a {
    cursor: pointer;
    background: #a9adb1; }
  .header_right #dd > ul > li:first-child:hover {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: #8e9ca5; }
  .header_right #dd > ul > li:hover {
    background: #8e9ca5; }
  .header_right #dd > ul > li:last-child:hover {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: #8e9ca5; }
  .header_right .wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto; }
  .header_right .no-opacity .wrapper-dropdown-3 .dropdown,
  .header_right .no-pointerevents .wrapper-dropdown-3 .dropdown {
    display: none;
    opacity: 1;
    /* If opacity support but no pointer-events support */
    pointer-events: auto;
    /* If pointer-events support but no pointer-events support */ }
  .header_right .no-opacity .wrapper-dropdown-3.active .dropdown,
  .header_right .no-pointerevents .wrapper-dropdown-3.active .dropdown {
    display: block; }

.circle {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.red {
  background: #ff503f;
  cursor: pointer; }

.green {
  background: #aacc4e;
  cursor: pointer; }

.header_button_text:hover {
  background: #ced6dd; }

.header_button_text {
  border: 1px solid #d3d7da;
  border-radius: 25px;
  padding: 12px 15px;
  color: #4b4b4b;
  cursor: pointer; }
  .header_button_text span {
    font-family: FreightSansMedium; }

.text_uppercase {
  text-transform: uppercase;
  font-family: HelveticaNeueCyr;
  font-size: 14px; }
  .text_uppercase span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.header_button_text img:first-child {
  margin: 0 10px 0 15px; }

.header_button_text img:last-child {
  margin: 0 8px  0 15px; }

.section_pre_header {
  position: relative;
  overflow: hidden;
  border-right: 1px solid #d3d7da; }
  .section_pre_header .search {
    background: #f1f1f1; }
  .section_pre_header .search:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    background: #f1f1f1;
    width: 59.8%;
    border-bottom: 1px solid #d3d7da; }
  .section_pre_header .search:before {
    content: '';
    position: absolute;
    background: #f1f1f1;
    right: -20px;
    z-index: -1;
    bottom: 0;
    width: 100%;
    height: 100%; }
  .section_pre_header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .section_pre_header .pre_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .section_pre_header .pre_block:first-child {
    background: #fff; }
  .section_pre_header .pre_block:last-child {
    border-top: none;
    padding-left: 35px;
    background: #fff; }
  .section_pre_header .pre_block {
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer; }
    .section_pre_header .pre_block img {
      margin-right: 20px; }
    .section_pre_header .pre_block h5 {
      font-size: 24px;
      font-family: FreightSansMedium;
      color: #4b4b4b; }
    .section_pre_header .pre_block span {
      height: 32px;
      width: 32px;
      background: #adadad;
      color: #fff;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-family: HelveticaNeueCyr;
      margin-left: 10px;
      margin-bottom: 20px;
      margin-right: 35px; }
  .section_pre_header .pre_block_red span {
    background: #ff503f; }

.section_second {
  border-bottom: 1px solid #d3d7da;
  border-right: 1px solid #d3d7da; }
  .section_second .section_left {
    width: 985px; }
  .section_second .block_search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #d3d7da;
    padding: 16px 15px; }
    .section_second .block_search .header_right {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; }
      .section_second .block_search .header_right .red {
        margin-left: 10px; }
  .section_second .horizontally_left, .section_second .horizontally_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .section_second .block_margin {
    margin: 0 7px; }
  .section_second .section_block_all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px; }
    .section_second .section_block_all .img {
      margin-left: 10px; }
  .section_second .box_right_horizontally {
    max-width: 985px; }
  .section_second .section_block_horizontally {
    color: #7b7b7b;
    border: 1px solid #d3d7da;
    border-top: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 23.75px  30px;
    max-width: 985px; }
    .section_second .section_block_horizontally .box_right_img {
      position: relative; }
    .section_second .section_block_horizontally .green_mini {
      width: 8px;
      height: 8px;
      border: 2px solid #fff;
      position: absolute;
      border-radius: 50%;
      top: -1px;
      left: 2px;
      background: #aacc4e; }
    .section_second .section_block_horizontally .grey_color {
      background: #c5c5c5; }
    .section_second .section_block_horizontally .box_right_img img {
      padding: 0 5px; }
    .section_second .section_block_horizontally .red_info {
      background: #ff503f;
      color: #fff;
      border-radius: 5px;
      font-size: 24px;
      font-family: HelveticaNeueCyr;
      font-weight: 100; }
      .section_second .section_block_horizontally .red_info span {
        padding: 4px 7px;
        display: block; }
    .section_second .section_block_horizontally h4 {
      margin-left: 12px;
      font-size: 22px;
      font-family: FreightSansMedium;
      font-weight: 100;
      cursor: pointer; }
    .section_second .section_block_horizontally .project_circle:hover, .section_second .section_block_horizontally .project_block:hover {
      background: #b2b6ba;
      cursor: pointer;
      color: #fff; }
    .section_second .section_block_horizontally .block_margin:hover {
      background: #ff503f;
      border: 1px solid #fff; }
    .section_second .section_block_horizontally .block_margin > img:hover {
      -webkit-filter: opacity(50%);
              filter: opacity(50%); }
    .section_second .section_block_horizontally .mini_circle_grey {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 35px;
      width: 35px;
      color: #d3d7da;
      border: 1px solid #d3d7da;
      border-radius: 50%;
      font-family: HelveticaNeueCyr;
      font-size: 12px;
      margin: 0 5px; }
    .section_second .section_block_horizontally .project_block {
      border: 1px solid #d3d7da;
      padding: 10px 20px;
      border-radius: 20px;
      margin-left: 10px; }
      .section_second .section_block_horizontally .project_block span {
        font-size: 14px;
        text-transform: uppercase;
        font-family: FreightSansMedium; }
    .section_second .section_block_horizontally .project_circle {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border: 1px solid #d3d7da; }
  .section_second .block_grey {
    background: #f9f9f9 !important; }
    .section_second .block_grey .info_grey {
      border: 1px solid #bebebe;
      background: #f9f9f9;
      color: #bebebe;
      width: 65px;
      height: 34px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .section_second .block_grey .line_through {
      color: #bebebe;
      font-weight: 100;
      text-decoration: line-through; }
    .section_second .block_grey .font_size_mini {
      font-size: 12px; }
  .section_second .section_box_right {
    margin-left: 20px;
    border: 1px solid #d3d7da; }
    .section_second .section_box_right .box_right_horizontally:last-child {
      border: none; }
    .section_second .section_box_right .box_right_horizontally {
      border-bottom: 1px solid #d3d7da;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .section_second .section_box_right .box_right_horizontally .grey_color {
        background: #c5c5c5 !important; }
      .section_second .section_box_right .box_right_horizontally .box_right_img {
        position: relative; }
        .section_second .section_box_right .box_right_horizontally .box_right_img .mini_circle {
          width: 8px;
          height: 8px;
          background: #aacc4e;
          border-radius: 50%;
          border: 1px solid #fff;
          position: absolute;
          top: 25px;
          left: 27px; }
        .section_second .section_box_right .box_right_horizontally .box_right_img img {
          margin: 23px 10px 25px 30px; }
      .section_second .section_box_right .box_right_horizontally .box_right_text {
        font-size: 18px;
        font-family: FreightSansLight;
        color: #bababa;
        letter-spacing: 1px; }
        .section_second .section_box_right .box_right_horizontally .box_right_text .last:hover {
          cursor: pointer; }
        .section_second .section_box_right .box_right_horizontally .box_right_text .last {
          margin-left: 12px;
          font-size: 22px;
          color: #000;
          font-family: FreightSansMedium;
          font-weight: 100;
          line-height: 70px;
          margin-left: 30px; }
        .section_second .section_box_right .box_right_horizontally .box_right_text span {
          color: #4b4b4b; }

.box_right_img img {
  height: 35px;
  width: 35px; }

.block_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.white {
  color: #fff !important; }

.left_icon:hover:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 100%;
  left: 0px;
  background: #ff503f;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  top: 0; }

.fixed {
  top: 0px !important;
  right: 25px !important; }

.grey {
  background: #adadad !important;
  top: -10px !important;
  right: 25px !important; }

.left_icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer; }
  .left_icon img {
    margin-top: 15px; }

.left_footer {
  margin-bottom: 50px; }
  .left_footer .left_icon {
    padding: 0 37px; }

.block_left, .left_footer {
  background: #272d33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .block_left .left_text_block, .left_footer .left_text_block {
    font-family: FreightSansMedium;
    font-size: 18px;
    color: #4f5154;
    margin-top: 10px; }
  .block_left .block_img, .left_footer .block_img {
    position: relative; }
  .block_left .person, .left_footer .person {
    padding: 0 20px;
    margin-top: 25px; }
  .block_left .left_img_number, .left_footer .left_img_number {
    height: 32px;
    width: 32px;
    background: #adadad;
    color: #fff;
    border-radius: 50%;
    background: #ff503f;
    position: absolute;
    top: 25px;
    right: 20px; }
    .block_left .left_img_number span, .left_footer .left_img_number span {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 10px;
      font-size: 16px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-family: HelveticaNeueCyr; }
  .block_left .circle_left, .left_footer .circle_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15px; }
    .block_left .circle_left .circle_left_mini, .left_footer .circle_left .circle_left_mini {
      width: 6px;
      margin: 30px 2px 10px;
      height: 6px;
      background: #4f5154;
      border-radius: 50%; }

@media screen and (max-width: 1340px) {
  .section_second .section_left {
    max-width: 985px;
    width: auto; }
  .section_second .section_box_right .box_right_horizontally .box_right_text {
    font-size: 12px; }
  .section_second .section_block_horizontally .project_block span {
    font-size: 12px;
    text-align: center;
    float: left; }
  .section_second .section_block_horizontally h4, .section_second .section_box_right .box_right_horizontally .box_right_text .last {
    font-size: 14px; }
  .section_second .section_block_horizontally .red_info {
    font-size: 18px; }
  .form input {
    max-width: 350px;
    width: auto; } }

@media screen and (max-width: 998px) {
  .block_right {
    border: 1px solid #272d33;
    border-top: none; }
  .section_block_all, .block_search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header_all .header_right {
    margin-top: 15px; }
  .section_second .section_left {
    max-width: 985px;
    width: auto; }
  form input {
    margin-right: 0;
    text-align: center;
    margin: 15px 0; }
  .section_second .section_box_right {
    margin-left: 0;
    margin-top: 20px; }
  .section_pre_header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .block_left {
    position: absolute;
    z-index: 999;
    left: -120px;
    -webkit-transition: 1s;
    transition: 1s;
    overflow: hidden; }
  .block_left:hover {
    -webkit-transition: 1s;
    transition: 1s;
    left: 0; }
  .pre_box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .section_pre_header .search {
    margin-right: 0px; }
  .section_pre_header .search:after {
    width: 100%; }
  .section_pre_header .pre_block:last-child {
    padding-left: 0; } }

@media screen and (max-width: 576px) {
  .pre_box, .header_all {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .section_pre_header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .block_right {
    max-width: 320px;
    margin: 0 auto; }
  .section_block_horizontally {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .search:before {
    display: none; }
  .section_block_horizontally .box_right_img {
    display: none; }
  .section_pre_header .pre_block:last-child {
    border-top: 1px solid #d3d7da; }
  .text_uppercase {
    font-size: 8px; }
  .header_all {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .section_second .section_block_horizontally h4 {
    font-size: 12px; }
  .section_second .section_block_horizontally .project_block {
    padding: 5px 10px; }
  .section_second .section_block_horizontally .red_info {
    font-size: 10px; }
  .section_second .section_box_right .box_right_horizontally .box_right_text .last {
    font-size: 12px; } }
