 * {
 	margin: 0;
 	box-sizing: border-box;
 	padding: 0;
 }  
 .container-en, .container {
 	margin: 0 auto;
 }
 .container {
 	max-width: 1200px;
 	overflow-x: clip; 
 }
 header .show .navbar-nav{
 	overflow-y: hidden; 
 }

 .container-en {
 	max-width: 1920px;
 	overflow: hidden;
 }
 body{
 	overflow: inherit !important;
 }
 .row{
 	padding: 0;
 	margin: 0;
 }
 header {
 	margin: 5px auto !important;
 }
 header nav {
 	padding: 20px 0;
 }
 .navbar-toggler-icon{
 	background-image: none !important;
 	width: 24px;
 	height: 15px;
 }
 .navbar-toggler{
 	padding: 0;
 	border: none;
 	line-height: 0;
 }
 .navbar-brand{
 	color: #1D1D1D;
 	font-size: 30px;
 	font-weight: 700;
 	font-family: 'Montserrat', sans-serif;
 	line-height: 30px;
 	text-transform: uppercase;
 }
 .navbar-brand:hover{
 	color: #1D1D1D;	
 }
 .navbar {
 	padding:15px 0px;
 }
 .hamburger{
 	padding: 0 !important;
 	margin: 15px !important;
 }
 .navbar ul li a{
 	color: #1D1D1D;
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 600;
 	font-size: 16px;
 	line-height: 16px;
 }


 .navbar-expand-xl .navbar-nav .nav-link{
 	padding: 0;
 	margin: 0;
 }
 .navbar-collapse{
 	margin-left: 4px; 
 	justify-content: space-between;
 }

 .language{
 	align-items: center;
 	margin: 16px 13px 8px 7px;
 	display: flex;
 	cursor: pointer;
 	min-width: 86px;
 	display: flex;
 	justify-content: flex-end;
 }
 .language a{
 	text-decoration: none;
 }
 .block_lang .language img{
 	margin-left: 11px;
 }
 .block_lang {
 	box-shadow: 0px 2px 12px rgba(8, 35, 48, 0.2);
 	border-radius: 5px;
 	margin-top: -45px !important;
 	margin-left: -4px;
 	min-width: 86px !important;
 }
 .language_name{
 	margin-right: 11px;
 }
 .log, .register{
 	color: #1D1D1D;
 	border-radius: 5px;
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 600;
 	font-size: 16px;
 	border: 2px #EB5757 solid;
 	padding: 6px 0px;
 }
 .log{
 	min-width: 107px;
 }
 .register{
 	min-width: 124px;
 	background: #EB5757;
 	color: #fff;
 	margin: 0 0px 0px 30px;
 }
 .dropdown{
 	margin-left: 40px;
 }
 .register:hover,.log:hover {
 	background: #EB3C3C;
 	border: 2px #EB3C3C solid;
 	color: #fff;
 }
 .btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active{
 	background-color: #C3BCB9;
 	color: #fff;
 	border-color: #C3BCB9;
 }
 .btn-info:not(:disabled):not(.disabled).active:focus, .btn-info:not(:disabled):not(.disabled):active:focus, .show>.btn-info.dropdown-toggle:focus, .btn.focus, .btn:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus, .btn-outline-success:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-success.dropdown-toggle:focus{
 	box-shadow: none;
 	background: #FF8383;
 	color: #fff;
 } 
 .dropdown-toggle::after{
 	border-top: none;
 }
 .button_lan .btn:focus{
 	border: 2px #FF8383 solid;
 }
 .section_first{
 	background: url("img/background_first.png") no-repeat center top/cover;
 	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);
 	text-align:center;
 	background-attachment: fixed;
 	background-position: center;
 	background-repeat: no-repeat;
 	background-size: cover;
 }
 .section_first h1, .section_first p{
 	color: #FFFFFF;
 	padding-top: 207px;
 	padding-bottom: 25px;
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 600;
 	font-size: 50px;
 	line-height: 60px;
 	text-align:center;
 }
 .section_first p{
 	padding-top: 0px;
 	font-weight: 400;
 	line-height: 26px;
 	font-size: 16px;
 }
 .section_first button{
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 600;
 	line-height: 16px;
 	font-size: 16px;
 	text-align:center;
 	padding: 18px 50px;
 	margin: 0 auto;
 	display: block;
 	color: #fff;
 	background: #EB5757;
 	border: 2px #EB5757 solid;
 }
 .section_first button:hover{
 	background: #FF8383;
 	color: #fff;
 }
 .section_first .btn-outline-success:hover{
 	border: 2px #FF8383 solid;
 }
 .button_lorem{
 	padding-bottom: 212px
 }

 .nav_open_link::after{
 	display: inline-block;
 	margin-left: 8px;
 	vertical-align: .255em;
 	content: "";
 	width:10px;
 	height: 5px;
 	background: url("img/ic-dropdown.png") no-repeat center top/cover;
 }
 .dropdown-menu{
 	min-width: 150px ;
 	margin-top: 21px ;
 }
 .dropdown-menu a:hover{
 	color: #EB5757;
 	font-size: 16px;
 }
 .dropdown-menu.show{
 	display: block ;
 }
 .section_second{
 	background: url("img/Earth.png") no-repeat center top/cover;
 	box-shadow: inset 0 0 0 1000px rgba(196, 196, 196, .2);
 }
 .monitoring_img img{
 	width: 691px;
 	height: 365px;
 }

 .info{
 	padding-top: 128px;
 }
 .info h2{
 	margin-top: 32px;
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 700;
 	line-height: 50px;
 	font-size: 38px;
 	color: #1D1D1D;
 }
 .info .text{
 	margin-top: 30px;
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 400;
 	line-height: 26px;
 	font-size: 16px;
 	color: #3C3C3C;
 	margin-right: 30px;
 }
 .down_icon button{
 	border: 2px #EB5757 solid;
 	min-width: 152px;
 	border-radius: 5px;
 }
 .down_icon{

 	color: #1D1D1D;
 	margin-right: -15px !important;
 }
 .app{
 	display: flex;
 	align-items: center;
 }
 i{
 	font-size: 26px;
 	margin: 0 10px;
 }
 .text_app{
 	padding-right: 16px;
 	text-align: left;

 }
 .down_icon button:hover{
 	color: #fff;
 	background: #EB3C3C;
 }
 .down_icon button:focus{
 	outline:none;
 }
 .down_icon button:active{
 	background: #C3BCB9;
 	border: 2px solid #C3BCB9;
 	color: #fff;
 } 

 .text_app p{
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 600;
 	font-size: 10px;
 	margin-top: 8px;
 }
 .text_app span{
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 700;
 	margin-top: -3px;
 	font-size: 16px;
 	margin-bottom: 6px;
 	display: block;
 }
 .text_upper{
 	text-transform: uppercase;
 	font-size: 9px !important;
 }
 .text_space{
 	letter-spacing: -1px;
 }
 .mini_box{
 	border: 2px #EB5757 solid;
 	text-align:center;
 	border-radius: 10px;
 	max-width: 270px;
 	background: #fff;
 }
 .mini_box p{
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 700;
 	line-height: 28px;
 	font-size: 20px;
 	color: #1D1D1D;
 	margin: 0 24px 18px;
 }
 .mini_box img{
 	margin-top: 24px;
 	margin-bottom: 16px;
 }
 .mini_box_block{
 	margin-top: 10px;
 	padding-bottom: 134px;
 }

 .section_third{
 	background: url("img/background_third.png") no-repeat center top/cover;
 	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
 	background-attachment: fixed;
 	background-position: center;
 	background-repeat: no-repeat;
 	background-size: cover;

 }
 .section_third h2{
 	padding-top: 125px;
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 700;
 	line-height: 50px;
 	font-size: 38px;
 	color: #fff;
 	text-align: center;
 	margin-bottom: 30px;
 }
 .section_third p{
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 400;
 	line-height: 28px;
 	font-size: 16px;
 	color: #F0F0F0;
 	text-align:center;
 	margin-bottom: 100px;
 }
 .trading{
 	background: #fff;
 	margin-bottom: 173px;
 	position: relative;
 	max-width: 270px;
 	border-radius: 10px;
 }
 .trading h4{
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 700;
 	line-height: 28px;
 	font-size: 20px;
 	color: #1D1D1D;
 	text-align:center;
 	margin-top: 54px;
 }
 .trading img{
 	margin: 0 auto;
 	display: block;
 	margin-top: -50px;	
 }
 .trading h5{
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 600;
 	line-height: 16px;
 	font-size: 16px;
 	color: #05B202;
 	text-align:center;	
 	margin-bottom: 56px;
 }
 .trading p{
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 600;
 	line-height: 28px;
 	font-size: 18px;
 	color: #4D4D4D;
 	text-align:center;
 }
 .trading button{
 	background: #FF7237;
 	color: #fff;
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 600;
 	line-height: 16px;
 	font-size: 16px;
 	display: block;
 	min-width: 160px;
 	padding: 13px 0;
 	margin: 0 auto 40px;
 }
 .trading button:hover{
 	background: #FF7237;
 }
 .btn-outline-success{
 	border: none !important;
 }
 .block_slide{
 	padding-bottom: 173px;
 }
 .splide__pagination{
 	bottom: -6.5em !important;
 }
 .splide__pagination li{
 	margin:  10px !important;
 }
 .splide__pagination__page {
 	height: 10px !important;
 	width: 10px !important;
 	opacity: 0.5 !important;
 }
 .splide__pagination__page.is-active{
 	transform: none !important;
 }
 .is-active{
 	opacity: 1 !important;
 }
 .splide__slide{
 	margin-left:15px !important;
 	margin-right: 15px !important;

 }
 .splide__track{
 	overflow: inherit !important;
 	margin-left: -20px !important;
 }
 .section_fourth{
 	background: url("img/map.png") no-repeat center top/cover;
 	box-shadow: inset 0 0 0 1000px rgba(0,0,0,5%);
 }
 .block_registration{
 	padding-top: 172px;
 }
 .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
 	background-color: #333;
 	border-color: #333;
 } 
 select{
 	background-image:url("img/select_arrow.svg");
 	background-repeat: no-repeat, repeat;
 	background-position: right .7em top 50%, 0 0;
 	color:  #CBCBCB !important;

 	appearance: none;
 }
 option:hover {
 	background-color: yellow !important;
 }
 option:checked {
 	background-color: #fff !important;
 	border:1px solid red !important;
 }
 .form-group select:focus{
 	box-shadow: 0px 2px 12px rgba(8, 35, 48, 0.2);
 	border-radius: 5px 5px 0px 0px !important;

 }
 .form-control:focus{
 	box-shadow: none;
 }

 .block_info_reg{
 	padding-right: 75px !important;
 }
 .block_registration h4{
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 700;
 	line-height: 50px;
 	font-size: 38px;
 	color: #1D1D1D;
 	margin-bottom: 30px;
 }
 .block_registration p{
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 400;
 	line-height: 26px;
 	font-size: 16px;
 	color: #3C3C3C;
 	margin-top: 30px;
 	margin-bottom: 34px;
 }
 .block_registration {
 	display: flex;
 	justify-content: space-around;
 }
 .minus_red{
 	color: #DC1B17 !important;
 }
 .block_info h3{
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 700;
 	line-height: 28px;
 	font-size: 20px;
 	color: #1D1D1D;
 	margin-left: 14px;
 }
 .block_info p{
 	color: #3C3C3C;
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 400;
 	line-height: 26px;
 	font-size: 16px;
 	margin-top: 10px;
 	margin-bottom: 0;
 	margin-left: 14px;
 }
 .block_info_i{
 	display: flex;
 	padding-top: 30px;
 }
 .block_info_i h5{
 	color: #EB5757;
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 600;
 	line-height: 28px;
 	font-size: 20px;
 	margin-right: 14px;
 }
 .registration_form{
 	background: #fff;
 	border-radius: 10px;
 	max-width: 420px;
 	margin-right: 165px;
 	box-shadow: 0px 15px 40px rgba(8, 35, 48, 0.15);
 	margin-bottom: 221px;
 }
 .registration_form h3{
 	margin: 40px auto 10px;
 	text-align:center;
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 700;
 	line-height: 28px;
 	font-size: 20px;
 	margin-right: 14px;	
 	color: #1D1D1D;
 }
 .registration_form label{
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 400;
 	line-height: 12px;
 	font-size: 12px;
 	margin: 15px 0 8px 0px;

 }
 ::placeholder {
 	color: #CBCBCB;
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 400;
 	line-height: 26px;
 	font-size: 16px;
 }
 .form-field{
 	max-width: 320px;
 	margin: 0 auto;	
 }
 .form-check-label {
 	font-size: 16px !important;
 	line-height: 26px !important;
 	font-weight: 400 !important;
 	margin-top: 10px !important;
 	margin-left: 8px !important;
 }
 .registration_form button{
 	background: #EB5757;
 	margin: 0 auto;
 	display: block;
 	border: none;
 	padding:  15px 53px;
 	margin-bottom: 40px;
 }
 .registration_form button:hover{
 	background: #EB5757
 }
 .form-check{
 	align-items: center;
 	/* 	display: flex;*/
 	margin-left: 52px;
 	justify-content: center;
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 400;
 	line-height: 26px;
 	color: #3C3C3C;
 	font-size: 16px;
 	margin-bottom: 28px;
 }
 .form-check-input{

 	margin-top: 10px !important;
 }
 *::placeholder {
 	color: #CBCBCB !important;
 	font-family: 'Open Sans', sans-serif;
 	font-size: 16px;
 	line-height: 26px;

 }
 .block_registration  .form-check-input{
 	position: relative;
 }
 .form-control:focus{
 	border-color:#fff;
 	border: 1px solid #1D1D1D;

 }
 .form-control{

 	font-family: 'Open Sans', sans-serif;
 	font-weight: 400;
 	line-height: 26px;
 	font-size: 16px;
 	padding: 8px 14px;
 	border: 1px solid #1D1D1D;
 	height: 100%;
 }

 footer{
 	background: #E8E8E8;
 }
 footer .list-group span{
 	margin-bottom: 14px;
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 600;
 	line-height: 16px;
 	color: #3C3C3C;
 	font-size: 16px;
 }
 .footer_phone, .footer_email, .footer_adress{
 	font-weight: 400;
 	line-height: 24px;
 	font-size: 14px;
 	color: #3C3C3C;
 	font-family: 'Open Sans', sans-serif;
 }
 .footer_block{
 	padding-top: 60px;
 }
 .footer_email{
 	margin-top: 38px;
 	margin-bottom: 20px;
 }
 .footer_phone{
 	margin-bottom: 12px;
 }
 .footer_adress{
 	margin-bottom: 30px;
 	padding-right: 50px;
 }
 footer li{
 	list-style-type:none;
 	margin-top: 2px;
 }
 .list-group_all{
 	margin-top: 10px;
 }

 .list-group_all:nth-child(2) {
 	margin-left: 15px
 }
 .list-group_all:nth-child(4) {
 	margin-left: -10px
 }
 .list-group_all:nth-child(3) {
 	margin-left: 110px
 }

 .visa{
 	margin-left: 23px;
 }

 .list-group:nth-child(2){
 	margin-left: -20px;
 }

 .link_footer_hidden_a{
 	display: flex;
 	flex-direction: column;
 }
 .link_footer a{
 	display: block;

 }
 .footer_li_text a {
 	color:  #1D1D1D;
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 600;
 	line-height: 16px;
 	display: inline;
 	font-size: 16px;
 }
 .footer_li_text a:last-child{
 	padding-left: 45px;
 }
 .footer_variations {
 	margin-top: 30px;
 }
 .link_footer_hidden{
 	display: none;
 }
 .footer_variations h3{
 	color:  #3C3C3C;
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 400;
 	line-height: 26px;
 	font-size: 16px;
 	text-transform: uppercase;
 	margin-bottom: 9px;
 }
 .footer_variations p{
 	color:  #3C3C3C;
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 400;
 	line-height: 24px;
 	font-size: 14px;
 	padding-right: 30px;
 	letter-spacing: -0.2px;
 }
 .footer_rights{
 	margin-top: 10px;
 	margin-bottom: 20px;
 	color:  #3C3C3C;
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 400;
 	line-height: 24px;
 	font-size: 14px;
 }
 footer .container{
 	overflow: visible;
 }
 .arrow{
 	background: #EB5757;
 	border-radius: 3px;
 	height: 44px;
 	width: 44px;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	position: absolute;
 	bottom: 60px;
 	right: -1em;
 	cursor: pointer;
 }
 .arrow img{
 	margin: 0 auto;
 }

 .hidden_nav{
 	display: none ;
 }
 .footer_li_text {
 	margin-top: 40px;

 }
 .modal-open{
 	padding-right: 0 !important;
 }
 hr{
 	display: inline-block;
 	border-left: 2px solid #EB5757 ;
 	margin: 0px;
 	height: 90px;
 }

 header hr{
 	display: none;
 }
 .dropdown-menu button{
 	display: none;
 }
 .block_app{
 	margin-top: 40px;
 }
 .df_min{
 	justify-content: space-between;
 }
 .df_min:first-child{
 	padding-right: 15px;
 }
 .df_min:last-child{
 	padding-left: 15px !important;
 }
 .footer_li_text {
 	display: flex;

 	justify-content: space-between;
 }

 .link_footer {
 	display: flex;
 	flex-direction: column;

 }
 @media (min-width: 1920px) { 
 	.arrow{
 		bottom: 60px;
 		right: -281px;
 	}
 }
 @media (max-width: 1400px) { 
 	.monitoring_img img{
 		width: 100%;
 	}
 }
 @media (max-width: 1200px) { 
 	.mini_box{
 		max-width: 235px;
 	}
 	.registration_form{
 		margin-right: 0;
 	}
 	.block_info_reg{
 		padding-right: 0 !important;
 	}
 	.list-group_all:nth-child(3){
 		margin-left: 90px;
 	}
 	.navbar_first .nav-item{
 		margin-left: 0em;
 	}
 	.footer_li_text a:last-child{
 		padding-left: 0;
 	}
 	.navbar_first .nav-item:last-child{
 		margin-left: 0em;
 	}
 	.navbar_first{
 		justify-content: space-around;
 	}
 	.down_icon{
 		margin-right: 0px !important;
 	}
 	.block_app .down_icon:nth-child(3){
 		margin-right: -15px !important;
 	}
 }
 @media (max-width: 1060px) { 
 	.dropdown{
 		margin-left: 20px;
 	}

 }
 @media (max-width: 991px) { 
 	.language{
 		margin-left: 15px !important;
 	}

 	.dropdown, .dropleft, .dropright, .dropup{
 		position: inherit!important;
 	}
 	.navbar{
 		padding: 0;
 	}
 	.hamburger-box{
 		height: 34px !important;
 	}


 	.dropdown-menu a{
 		margin-top: 50px !important;
 	}
 	.show>.nav-link{
 		color: #EB5757 !important;
 	}

 	.show>.nav_open_link::after{
 		width: 5px;
 		height: 10px;
 		margin-bottom: -3px;
 		margin-left:   13px;
 		background: url(img/Vector2.svg) no-repeat center top/cover;
 	}
 	.dropdown-menu a:first-child{
 		margin-top: 55px !important;
 	}
 	.list-group {
 		padding-right: 0;
 	}
 	.block_registration{
 		padding-top: 100px;
 	}
 	.list-group:nth-child(2){
 		margin-left: 0;
 	}
 	.list-group_all:nth-child(3){
 		margin-left: 70px;
 	}
 	.df_min:last-child{
 		padding-left: 15px !important;
 	}

 	.df_min:first-child {
 		padding-right: 0px; 
 	}
 	.df_min:last-child {
 		padding-top: 30px;

 	}
 	.footer_li_text a:last-child {
 		margin-right:  -30px;
 	}
 	.list-group_all:nth-child(2){
 		padding-right: 0;
 	}
 	.list-group_all:nth-child(4){
 		padding-right: 0;
 	}
 	.mini_box_block .row{
 		justify-content: space-around !important;
 	}
 	.mini_box{
 		max-width: 46%;
 	}
 	.mini_box {
 		margin-top: 30px;
 	}
 	header hr{
 		width: 100%;

 		border: 1px solid #CBCBCB;
 	}
 	.down_icon button{
 		max-width: none;
 		width: 100%;
 	}
 	.show .navbar-nav:first-child{
 		margin-top: 30px;
 	}
 	.show .navbar-nav:last-child{
 		margin-bottom: 80px;
 	}

 	.button_lan{
 		justify-content: center;
 	}

 	.arrow{
 		display: none;
 	} 	
 	.mini_box_block .row{
 		justify-content: center;
 		margin: 0 40px;
 	}
 	.link_footer:last-child a{
 		margin-left: 75px;
 	}
 	.link_footer a:last-child{
 		margin-top: 15px;
 	}
 	.navbar_first .nav-item{
 		margin-left: 1em;
 	}

 	.monitoring_img {
 		margin-top: 80px;
 		margin-bottom: 72px;
 	}
 	.info .text{
 		margin-right: 140px;
 	}
 	.monitoring_img img{
 		height: 100%;
 	}

 	.app{
 		justify-content: center;
 	}

 	.info h2{
 		font-size: 36px;
 		line-height: 29px;
 		margin-top: 0;
 	}
 	.block_app{
 		display: flex;
 		justify-content: space-between;
 	}

 	.registration_form{
 		margin: 60px auto 100px;
 	}
 }
 @media (max-width: 768px) { 
 	.footer_variations {
 		max-width: 492px;
 	}
 	.footer_rights{
 		margin-top: 0;
 		margin-bottom: 0;
 	}
 	.footer_second, .footer_first {
 		max-width: 100%;
 		flex: 0 0 100%;
 	}
 	.footer_rights{
 		margin-top: -70px;
 	}
 	.list-group{
 		display: none;
 	}

 	.splide__track {
 		margin-left: -75px !important;
 	}

 	.footer_li_text {
 		margin-top: 0;
 	}
 	.footer_li_text a:last-child {
 		margin-right:  0px;
 	}
 	.list-group {
 		display: none;
 	}
 	.list-group_all {
 		display: none;
 	}
 	.footer_li_text .row{
 		width: 100%;
 	}
 	.link_footer_hidden_a {
 		padding: 0;
 	}

 	.footer_variations{
 		margin-top: 0;
 	}
 	.link_footer_hidden{
 		display: flex;
 		width: 100%;
 		justify-content: space-between;
 	}
 	.link_footer_hidden_a:last-child{
 		margin-top: 0px;
 	}

 	.footer_first{
 		margin-top: 44px;
 	}
 	.footer_email{
 		margin-top: 60px;
 	}
 	.link_footer_hidden_a a:last-child{
 		margin-left: 0px;
 		margin-top: 15px;
 	}

 	.down_icon{
 		max-width: 218px;
 	}
 	.df_min:last-child {
 		padding-top: 0px;

 	}
 	.button_lan{
 		margin-left: 0;
 		justify-content: center;
 		margin-right: -80px;
 	}

 	.link_footer_hidden{
 		display: flex;
 	}
 	.footer_rights{
 		margin-top: -65px;
 		margin-bottom: 0px;
 	}

 }


 @media (max-width: 684px) {
 	.section_first br{
 		display: none;
 	}
 	.block_info p{
 		margin-right: 0px;
 	}

 }
 @media only screen and (min-width: 576px) and (max-width: 991px)  {
 	.show .nav_open_link  {
 		color: #EB5757 ;
 	}
 	.button_lan {
 		display: none;
 	}
/*        .dropdown-menu.show{
        display: block;
    }*/
   .dropdown-menu{
        display: none;
    }
 	.dropdown-menu a:first-child{
 		margin-top: -3px !important;
 	}
 	.block_lang{
 		margin-top: -41px !important;
 		margin-left: -10px;
 	}
 	.block_lang .language img{
 		margin-left: 15px;
 	}

 	.dropdown-menu a{
 		margin-top: 0px !important;
 	}
 	.dropdown:first-child .nav_open_link:first-child:after{
 		margin-left: 8px !important;

 	}
 	#navbarNavAltMarkup .dropdown-menu{
 		margin-left: -150px;
 	}
 	#navbarNavAltMarkup .dropdown-menu{
 		position: absolute;
 		top: 110px;
 		/*display: block;*/
 		left: 470px;
 		background: #F2F2F2;
 		margin-top: -40px;
 		width: 100%;
 		margin-left: -150px;
 		padding-bottom: 36px;
 		border-radius: 0;
 		padding-left: 15px;
 	}
 	.hidden_nav{
 		display: flex !important;
 		margin-left: -70px;
 	}
 	.footer_block_all{
 		display: flex;
 	}

 	header hr{
 		display: none;
 	}
 	.dropdown-menu {
 		border: none;
 	}
 	#navbarNavAltMarkup li:first-child{
 		margin-top: 51px;
 	}
 	.show .navbar-nav .dropdown-menu a{
 		margin:38px auto !important;
 		font-size: 16px;
 		line-height: 16px; 
 		margin: 0;
 	}
 	.show .dropdown-menu{
 		padding-bottom: 3px !important;
 	}
 	.dropdown{
 		margin-left: 0px;
 		margin-bottom: 50px;
 	}
 	.dropdown-item{
 		padding: 0; 
 	}
 	.dropdown-menu{
 		margin-top: 0px;
 		min-width:0;
 	}
 	#navbarDropdown{
 		display: block;
 	}
 	.nav-item{
 		display: flex;
 		justify-content: center;
 	}
 	.nav_open_link{
 		margin-right: 300px !important;
 	}
 }
 @media screen and (max-width: 576px) {
 	#navbarSupportedContent > ul > li > .dropdown-menu a{
 		margin: 0px 0 !important;
 	}
 	#navbarNavAltMarkup > ul > li.nav-item.dropdown.show > div:first-child{
 		margin-top: 40px;

 		margin-bottom: 60px;
 	}
   
 	#navbarNavAltMarkup > ul > li.nav-item.dropdown.show > div > a{
 		margin: 80px auto;
 	}
 	.language{
 		display: flex;align-items: center;
 		justify-content: center;
 	}

 	.language:last-child img:last-child{
 		margin-left: 25px;
 	}
 	.navbar-nav{
 		margin-bottom: 58px;
 	}
 	.navbar-light .navbar-nav .nav-link:first-child:first-child{
 		margin-top: 55px !important;
 	}
 	.dropdown:last-child{
 		margin-bottom:  40px !important;
 	}
 	.navbar-light .navbar-nav .nav-link{
 		margin: 30px auto !important;
 	}
 	.hamburger{
 		margin: 9px !important;
 	}
 	.dropdown-menu{
 		margin-top: -8px;
 	}
 	header hr{
 		display: block;
 		height: 0;
 	}
 	.footer_variations{
 		margin-top: 30px;
 	}
 	.block_info_reg {
 		margin-bottom: 30px !important;
 		margin-top: 30px !important;
 	}
 	.registration_form label{
 		margin-left: 0;
 	}
 	.block_registration{
 		padding-top: 0;
 	}
 	.list-group{
 		display: block;
 		padding-left: 0 !important;
 	}
 	.footer_li_text{
 		padding-left: 0;
 	}
 	.footer_rights{
 		margin-top: 0px;
 		margin-bottom: 0px;
 	}
 	.info .text{
 		margin-right: 0;
 	}
 	.mini_box_block .row{
 		margin: 0 auto !important;
 	}

 	.footer_email{
 		margin-top: 38px;
 	}
 	.footer_first{
 		margin-top: 10px;
 	}
 	.footer_li_text {
 		flex-direction: column;
 		margin-top: 40px;

 	}
 	.footer_li_text  a{
 		margin-bottom: 35px;
 	}

 	.link_footer_hidden  {
 		display: none;
 	}
 	.mini_box{

 		max-width:278px;
 	}

 	.info{
 		text-align: center;
 	}
 	.navbar-collapse{
 		display: flex;
 		flex-flow: row wrap;
 	}
 	.navbar-nav{
 		width: 100%;
 		justify-content: center;
 		align-items: center;

 	}
 	.dropdown-item:focus, .dropdown-item:hover{
 		background: #F2F2F2;
 	}
 	.dropdown-menu button{
 		display: block;
 		font-size: 16px;
 		line-height: 16px;
 		border: 1px solid #EB5757;
 		border-radius: 5px;
 		color: #1D1D1D;
 		font-family: Open Sans;
 		flex-direction: row;
 		justify-content: center;
 		align-items: center;
 		padding: 18px 50px;
 		font-weight: 600;
 		margin:85px auto 75px;
 	}
 	.dropdown-menu {
 		border: none;
 	}
 	.dropdown-menu a{
 		margin:70px auto;
 		font-size: 16px;
 		line-height: 16px; 
 		justify-content: center;
 		display: flex;
 	}
 	#navbarNavAltMarkup .nav-item:first-child{
 		margin-top: 0px;
 	}
 	#navbarNavAltMarkup .navbar ul li a:last-child{
 		margin-bottom: 85px;
 	}
 	.dropdown{
 		position: inherit;
 	}
 	.dropdown-menu.show{
 		position: absolute;
 		top: 68px;
 		background: #F2F2F2;
 		border-radius: 0;
 		width: 111%;
 		left: -17px;
 	}
 	header::before {
 		content: "";
 		color: red;
 		z-index: 1;
 		/* background: red; */
 		width: 100%;
 		margin-left: 0;
 		height: 10%;
 		top: 40px;
 		left: 0px;
 		position: absolute;
 		display: block;
 		box-shadow: 0px 6px 4px rgb(8 35 48 / 12%);
 	}
 	.button_lan {
 		width: 100%;
 		order: -1;
 		flex-direction: column;
 		margin-right: -0px;
 	}
 	.register{
 		margin: 23px 0 !important;
 	}
 	.language_bar {
 		order: -1;
 	}

 	#navbarSupportedContent .navbar-nav:first-child{
 		margin-top: 30px;
 	}
 	#navbarSupportedContent .navbar-nav:last-child{
 		margin-bottom: 15px;
 	}
 	.down_icon{
 		max-width: 100% !important;
 	}
 	.block_app .down_icon:nth-child(2){
 		padding:   0;
 	}
 	.block_app .down_icon{
 		padding:  0;
 	}
 	.down_icon{
 		margin-top: 29px;
 		padding-left: 30px !important;
 		padding-right: 30px !important;
 	}
 }
 @media screen and (max-width: 502px) {
 	.block_registration h2{
 		align-items: center;
 		text-align:center;
 		font-size: 24px;

 		line-height: 29px;
 		font-weight: 700;
 	}
 	.block_registration{
 		margin-top: 0
 	}
 	.block_registration p{

 		font-size: 16px;
 		margin-top: 20px;
 		line-height: 26px;
 		padding-right: 5px;
 		padding-left: 5px;
 		margin-bottom: 0;
 	}
 	.section_first h1 {
 		color: #FFFFFF;
 		padding: 121px 15px 16px;
 		font-size: 24px;
 		line-height: 29px;
 	}
 	.section_first p {
 		padding-right: 20px;
 		padding-left:  20px;
 	}
 	.section_first button{
 		max-width: 240px;
 	}
 	.button_lorem {
 		padding-bottom: 122px;
 	}

 	.info{
 		padding-top: 77px;
 	}
 	.info .text{
 		text-align:left;
 		font-size: 16px;
 		line-height: 26px;
 		margin-top: 20px;
 		padding-left: 10px;
 		padding-right: 5px;
 	}
 	.info p{
 		margin-bottom: 0;
 	}
 	.monitoring_img {
 		margin-bottom: 42px;
 	}

 	.mini_box{
 		margin-right: 0;

 	}
 	.mini_box_block{
 		padding-bottom: 80px;
 	}
 	.section_third h2{
 		text-align:center;
 		font-size: 24px;
 		padding-top: 50px;
 		line-height: 26px;
 	}
 	.trading {
 		margin-top: 77px;
 		margin-right: 0px;
 	}
 	.stock{
 		margin-left: 5px;
 		margin-right: 5px;
 	}
 	.first_box{
 		padding-top: 40px !important;
 	}

 	.block_info p{
 		text-align:left;
 		margin-top:10px;
 		padding-right: 0px; 
 		padding-left: 0px;
 	}

 	.registration_form{
 		margin-top: 63px;
 		margin-left: 0;
 	}
 	.registration_form h3{
 		margin-bottom: 17px;
 	}
 	.registration_form{
 		margin-bottom: 78px;
 	}

 	.registration_form button{
 		min-width: 240px;
 	}
 	.footer_adress{
 		padding-right: 60px;
 	}

 	.footer_adress{
 		margin-bottom: 48px;
 	}
 	.logo_card{
 		margin-bottom: 20px;
 	}
 	.logo_card img{
 		min-width: 28%;
 	}
 	.footer_li_text a{
 		margin-left: 0;
 		margin-bottom: 37px;
 	}

 	.footer_li_text {
 		display: flex;
 		flex-direction: column;

 	}

 	.footer_variations p{
 		padding-right: 0;
 		margin-bottom: 20px;
 	}
 	.footer_rights {
 		margin-right: 35px;
 	}
 }

 @media screen and (max-width: 602px) {
 	.register{
 		margin: 0px 10px;
 	}
 	.footer_li_text a:last-child{
 		padding-left: 0;
 	}

 }
 @media screen and (min-width: 402px) {
 	.registration_form br{
 		display: none;
 	}

 }
 @media screen and (max-width: 402px) {

 	.form-check{
 		margin-left: 5px;
 	}
 	.block_registration .form-check-input{
 		position: absolute;
 		margin-top: 16px !important;
 		margin-left: 0 !important
 	}
 	.form-check-label{
 		margin-left: 26px !important;
 	}
 }
 @media screen and (max-width: 320px) {
 	.splide__track {
 		margin-left: -153px !important;
 	}

 	.footer_variations p{
 		padding-right: 15px;

 	}
 	header::before{
 		height: 7%;
 	}
 	.footer_adress{
 		padding-right: 105px;
 	}
 	.footer_variations h3{
 		margin-right: 10px;
 	}
 	.footer_rights p{
 		margin-right: 40px;
 	}
 	.footer_li_text {

 		justify-content: flex-start;
 	}

 	.footer_rights{
 		margin-bottom: 20px;
 	}

 }