@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700');
header{
	width: 100%;
	background: #303030;
}
body {
    padding: 0;
    margin: 0;
    min-width: 1280px;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
*{
	margin:0;
	padding: 0;
}
h1{
	font-family: Raleway, sans-serif;
}
a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
} 
div {
	box-sizing: border-box;
}
.logo{
	margin: 30px 0 30px 0;
}
.header_menu li{
	text-transform:uppercase;
	font-weight:600;
	display: inline-block;
}
.header_menu a{
	color: white !important;
	text-decoration: none !important;
	font-size: 14px;
	letter-spacing: 2px;
}
.header_menu li a:hover {
	color: #7b6c63 !important;
	-webkit-transition: ease-out 0.25s;
    -moz-transition: ease-out 0.25s;
    -o-transition: ease-out 0.25s;
    transition: ease-out 0.25s;
}
.section_first{
	 background: url(../img/Rectangle.png) no-repeat center top/cover;
}
.section_first  h2{
	font-size: 24px;
	color: #fff;
	text-transform:uppercase;
	font-weight:400;
	padding: 190px 0 5px 0;
	font-stretch: extra-condensed;
	letter-spacing: 2px;
	font-family: Raleway, sans-serif;
}
.section_first h1{
	font-size: 50px;
	color: #fff;
	text-transform:uppercase;
	padding-bottom: 60px;
	font-family: Raleway, sans-serif;
	font-weight:350;
}
.section_first span{
	color:#7b6c63;
	font-weight: 600;
}
.section_first .btn{
	padding: 14px 45px;
    opacity: 0.7 ;
    background: #26221f;
    border: none;
    margin-bottom: 190px;
    font-family: Raleway, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    color: #fff ;
    letter-spacing: 1px;
    font-size: 12px ;
}
.section_first i{
	font-size: 15px ;
    margin-left: 15px;
    color: #fff ;
}



.section_second{
	text-align: center;
}


hr{
	width: 76px;
	height: 6px !important;
	background: #7b6c63;
	border:none;
	margin: 50px auto !important;
}
 h3{
	font-family:Raleway;
	font-size: 40px !important;;
    text-transform: uppercase;
    margin-top: 90px !important;
	font-weight:400 !important;;
	color: #7b6c63 !important;
	font-family: Raleway, sans-serif !important;
	text-align: center;
}
 h4{
	font-size: 24px !important;
	color: #7b6c63 !important;
    text-transform: uppercase;
	font-family: Raleway, sans-serif !important;
	text-align: center;
	font-weight: 900 !important;
	margin:90px 0 30px !important;
}
.section_three_left h4{
	margin-top: 85px;
	margin-bottom: 35px;
}
.section_three_left .btn{
    border: 1px solid black;
    text-transform: uppercase;
    padding: 8px 18px;
    border-radius: 3px;
    margin-bottom: 90px;
    margin-top: 10px;
}
.section_three_left .btn:hover{
	background:#d9d9d9;
	-webkit-transition: ease-out 0.50s;
    -moz-transition: ease-out 0.50s;
    -o-transition: ease-out 0.50s;
    transition: ease-out 0.50s;
}
.section_three_left i{
	margin-left: 5px;
}
.section_three{
	background:#f5f5f5;
}
.all_p{
	font-family:Raleway;
	text-align: center;
	margin: 0 auto;
	line-height: 1.8;
	font-size: 18px;
	color: #212121;
	margin-bottom: 90px;
}
.section_three_left{
	background:#f5f5f5;
}
.section_three_right img{
	height: 575px;
}
.section_three_right{
	background: url(../img/right.png) no-repeat center top/cover;
	position: absolute;
}


.section_four p{
	font-size: 16px;
	color: #949494;
	margin-bottom: 75px;
}

.section_four_block{
	text-align: center;
}
.section_four_block h5{
	text-transform: uppercase;
	margin-bottom: 20px;
	margin-top: 20px;
	font-weight: 500;

}
.section-five{
	background: url(../img/Group1.png) no-repeat center top/cover;
}
.section-five h4{
	color: #fff !important;
	letter-spacing:2px ;
}
.section-five-box{
	text-align: center;
}
.section-five-box h5{
	color: #fff;
	margin: 30px 0 85px 0;

}
.fixed-center p{
	font-size: 20px;
	color: #212121;
	text-align: center;
	margin-bottom: 90px;
}
.section-six p{
	margin-bottom: 90px;
}

.section-seven-image img{
	height: 250px;
    width: 25%;
    margin-right: -5px;
}

.section-seven-box-center{
	background:#1a1a1a;
}
.section-seven p{
	color: #fff;
}
.section-seven{
	background: #fff;
}
.section-seven-box a{
	color: #29c5f2;
}
.section-seven-btn{
	background:#fff;
	padding: 90px 0;
	text-align: center;
}
.section-seven-btn .btn{
	padding: 10px 35px;
    text-transform: uppercase;
}
.section-seven-btn .btn i{
	margin-left: 10px;
}
.section-eight{
	background:#f5f5f5;
}
.section-eight-description{
	border:3px solid #e4e4e4;

	color: #000;
}
.section-eight-description h6{
font-size: 24px;
text-align: center;
	text-transform: uppercase;
}
.section-eight-description h5{
font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.section-eight-people img{
	width:100%;
}


@media screen and (max-width: 992px){
 .btn-lg{
	width: 50%;
}
}

@media (min-width: 576px){
.container {
    max-width: 100% !important;
}
}