@font-face{
	font-family: 'MuseoSansCyrl';
	src: url('fonts/MuseoSansCyrl.otf');
}
@font-face{
	font-family: 'MuseoSansCyrl-bold';
	src: url('fonts/MuseoSansCyrl_3.otf');
}
@font-face{
	font-family: 'Stolzl';
	src: url('fonts/Stolzl.otf');
}
body{
	font-family: 'MuseoSansCyrl', serif !important;
}
* {
	margin: 0;
 	padding: 0;
 	list-style-type:none;
}
a{
	text-decoration: none;
}
div {
  	box-sizing: border-box;
}
header, footer{
	position: relative;
	overflow: hidden;
    line-height: 1.35 !important;
}
.block-info-left{
	width: 40vw;
}
.block-info-header{
	width: 22vw;
	padding-left: 7.5vw;
}
.container1 {
    width: 1170px;
    margin: 0 auto;
}
.persona-header{
	position: absolute;
    right: 35.5%;
    bottom: 0%;
    height: 83%;
}  
.navbar{
	padding: 0px !important;
}
.nav-item a{
	color: #091F33 !important;
	font-size: 1vw;
}
.menu-list, .logo{
	display: flex;
	margin-right: 6vw;
 	flex-direction: row;
 	justify-content: space-between;
 	padding-top: 0.25vw;
}
.menu-list{
	margin-left: 7vw;
}
 .header-menu-title{
 	padding-top: 1.5vw;
 }
 .nav-link {
    padding: -0.0rem 0.7vw;
}
.logo {
	font-family: 'Stolzl', serif;
	font-size: 1.5vw;
	color: #1B3764;
	font-weight: 700;
}
.header-title h2{
	font-size: 1.5vw;
	color: #091F33;
	font-weight: 700;
	width: 30vw;
	padding-top: 2vw;
	font-family: MuseoSansCyrl-bold;
}
.header-title h3{
	color: #091F33;
	font-size: 0.9vw;
    width: 28vw;
    font-weight: 600;
}
.header-number {
    margin-top: 1vw;
    margin-bottom: 1vw;
}
.header-bumber-block span{
	font-size: 2.5vw;
	color: #1B3764;
	font-weight: 700;
}
.header-bumber-block p{
	font-size: 1vw;
	display: inline;
	font-weight: 500;
	color: #091F33;
}
.logo-left{
	position: absolute;
    top: 0px;
    width: 20%;
    left: 0px;
    height: 100%;
    z-index: -1;
}
.right-logo{
	z-index: -1;
	position: absolute;
	right: -1px;
	width: 56%;
    top: 0;
} 
.header-bumber-block{
	padding-top: 1.5vw;
}
.header-detail span{
	font-size: 1.2vw;
	width: 18vw;
	color: #FFFFFF;
}
.header-detail p{
	margin-top: 6vw;
	width: 14vw;
	font-size: 1vw;
	color: #FFFFFF;
}
.header-detail img{
	margin-right: 0.5vw;
} 
.header-social img, .section-footer-social img{
	width: 1.4vw;
}
.row1{
	display: flex;
	flex-direction: row;
justify-content: space-between;
}
.header-detail span h5{
   font-size: 1.15vw;
    display: inline;
}
.header-detail{
	padding-top: 1.5vw;
}

.header-bumber-block p{
	font-size: 1vw;
	margin-bottom: 0;
	margin-top: -5px;
	display: block;
	color: #091F33;
}
.header-bumber-block-box{
	margin-right: 6%;
	display: flex;
    flex-direction: column;
}
.header-bumber-block {
	display: flex;
}
.header-social {
	margin-top: 2.5vw;
	margin-bottom: 2vw;
}
.header-social img:last-child{
	margin-right: 0;
}
.block-elem{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


















footer{
	position: relative;
	z-index: 999;
	overflow: hidden;
	margin-top: 150px;
}
footer h6{
	    font-size: 1.5vw;
}
footer span{
	font-size: 1.1vw;
    color: #091F33;
}
footer p{
	font-size: 0.88vw;
	padding-top: 0.4vw;
	color: #091F33;
	    margin-bottom: 0.3vw;
}
.right-logo-footer{
	width: 19%;
	height: 100%;
}
.section-footer-box{
	padding-top: 4vw;
}
.section-footer-box button{
	margin-top: 0.4vw;
    margin-left: 0px;
    display: block;
}.section-footer-box li{
	list-style-type:none;
	color: #091F33;
	font-size: 0.85vw;
	margin-bottom: .1vw;
	line-height: 1.25vw;
}
.section-footer-box nav{
	margin-top: 0.6vw;
}
.nav-not-title{
	margin-top: 2.2vw !important;
}
.section-footer-social{
	padding-top: 0.4vw;
    padding-bottom: 2vw;
}
.section-footer-social img{
	margin-right: 0.7vw;
}
.footer-logo-right, .footer-logo-left {
	z-index: -1;
	height: 100%;
	position: absolute;
}
.footer-logo-left{
	margin-left: -55px;
}
.footer-logo-right{
	right: 0;
	top: 0;
	margin-right: -90px;
}
button{
	position: relative;
	width: 12vw;
	height: 2.5vw;
	overflow: hidden;
}
button span{
	position: absolute;
	top: 0.7vw;
    left: 1vw;
    font-size: 0.9vw;
    color: #FFFFFF;
    z-index: 5;
    letter-spacing: .1vw;
}
.button-all{
	border: none;
	background: #264B87;
	cursor: pointer;
}
.img-right{
	position: absolute;
	z-index: 555;
    right: 0.95vw;
    top: 0.95vw;
    height: 0.5vw;
}

.fon-button{
	position: absolute;
	right: -14px;
	height: 100%;
	z-index: 1;
	top: 0;
}
.section-footer-box{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
 }
 .block-info{
 	width: 5vw;
 }
 footer .header-menu{
	width: 16vw;
	 }
  .block-info{
 	width: 6vw;
    margin-right: 5vw;
 }
  .block-info:nth-child(3){
 	width: 11vw;
 }
  .block-info:nth-child(4){
 	width: 11vw;
 	margin-right: 3vw;
 }
 .block-info:nth-last-child(-n+2){
 	width: 8vw;
 }
  .block-info:last-child{
 	margin-right: 0vw;
 }
/* @media screen and (max-width: 364px){
.header-menu h2{
	width: 38vw !important;
}
.header-menu h3 {
    width: 32vw !important;
}
} */
 @media screen and (min-width:1921px) and (max-width:8096px){
.container-one {
    min-width: 1170px;
	margin: 0 auto;
}.header-social img, .section-footer-social img{
    width: 2vw;
}
.header-detail span img{
	width: 0.7vw;
}

}
@media screen and (max-width: 992px){
.persona-header{
	position: absolute;
    right: 35.5%;
    bottom: 0%;
    height: 83%;
    display: none;
} 
.block-info-header{
	display: none;
}
}