/*---------------------------------------------------------------------------------------*/
header{
	background: url(../img/background.png) no-repeat center top/cover;/*center по центру экрана, top/cover растягивает по высоте и высоте.*/
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
*{
	margin:0;
	padding: 0;
}
div {
	box-sizing: border-box;
}
a{
	text-decoration:none;
}
header .navbar-light .navbar-nav .nav-link{
    padding-right: 0rem !important;
    padding-left: 0rem !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
}
header nav{
	font-weight: 600;
}
header .navbar-light .navbar-nav .nav-link:hover{
	color: #008ed6 !important;
    box-shadow: 0 2px 0 #008ed6;
}
header .navbar-light .navbar-nav .nav-link:focus{
	 color: #008ed6 !important;
}
header li{
	margin: 5px;
}
.navbar-light .navbar-toggler-icon {
    background-image: url(../img/menu-icon.png) !important;
}
.navbar-light .navbar-toggler {
    border-color: rgba(224, 224, 224, 0.82) !important;
}
.title h6{
	color: #008ed6;
	text-transform: uppercase;
	margin-bottom: 35px;
	font-size: 16px; 
}
.title h1{
	color: #ffffff;
	margin-bottom: 35px;
	font-size: 48px;
	font-family: 'Source Sans Pro', sans-serif;
	margin-bottom: 35px;
	font-weight: 550;
}
.title p{
	line-height: 1.5;
	color: #999999;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 60px;
	font-family: 'Source Sans Pro', sans-serif;	
}
.title-button-first{
	margin-right: 20px;
}
.title{
	margin-top: 60px;
}
.title_text{
	margin-top: 20px;
}
.title-button{
	text-transform: uppercase;
	color: white !important;
	border-color: #454449 !important;
	font-size: 14px !important;
	padding: 15px 30px !important;
}
/*---------------------------------------------------------------------------------------*/
.section-first-block{
	text-align: center;
	margin-top: 70px;
}
.section-first-block h4{
	margin-top: 30px;
    margin-bottom: 15px;
}
.section-first-block p{
	color: #999999;
}
h2{
	color: #008ed6  !important;
	text-transform: uppercase;
	font-size: 14px !important;
	padding-top: 60px;
	padding-bottom: 2px; 
	text-align: center;
	font-weight: 700 !important;
}
h3{
	color: #1a1a1a  !important;
	font-size: 36px  !important;
	margin-bottom: 35px !important;
	text-align: center;
}
hr{
	background: #008ed6;
	margin: 0 auto;
	width: 42px;
	height: 2px !important;
	border:none;
}
.line{
	background: #ededed;
	height: 1px;
	width: 100%;
	margin-top: 50px;
}
/*---------------------------------------------------------------------------------------*/
.section-second-description{
	margin-top: 65px;
}
.section-second-title{
	margin-top: 50px;
}
.section-second-menu li{
	list-style-type: none;
}
.section-second-menu img{
	margin-right: 50px;
	text-align: center;
}
td:first-child{
	padding-right: 15px;
	text-align: center;
}
.section-second-title h6{
	color: #008ed6;
	text-transform: uppercase;
	margin-bottom: 30px;
	font-size: 16px; 
}
.section-second-title h1{
	font-size: 36px !important;
}
.section-second-title p{
    line-height: 1.5;
    color: #999999;
    font-size: 18px;
}
/*---------------------------------------------------------------------------------------*/
.section-third{
	background: #f2f2f2;
}
.section-third-description{
	margin-top: 70px;
}
.section-third-title{
	margin-top: 85px;
}
.section-third-title p{
	line-height: 1.5;
    color: #999999;
}
.img-fluid{
	padding-right: 70px !important;
}
/*---------------------------------------------------------------------------------------*/
.section-four{
	background: url(../img/Prostokąt.png) no-repeat center top/cover;
}
.content-hr{
	margin-bottom: 55px;
}
.section-four h3{
	color: #fff;
}
.reviews p{
    color: #fff;
    font-size: 22px;
    line-height: 1.5;
    font-family: 'Source Sans Pro ', sans-serif;
    font-style: italic;
    margin-bottom: 30px;
}

.description{
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
}
.dot{
  	cursor: pointer;
	height: 10px;
	width: 10px;
	margin:0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	margin-bottom: 60px;
	margin-top: 100px;
}
.section-four-h3{
	color: #fff !important;
	margin-top: 30px;
}
.section-four-hr{
	margin-bottom: 60px;
}
.active, dot:hover{
  background-color: #fff;
  height: 14px;
  width: 14px;
}
.reviews img{
	width: 59px;
	height: 59px;
	border-radius: 100px;
}
img{
	height: auto;
	max-width: 100%;
}
.h2-left{
	text-align: left;
}
/*---------------------------------------------------------------------------------------*/
.section-five{
	background: #15141a;
}
.section-five h3{
	color: #fff !important;
	font-weight: 600;
	font-size: 36px !important;
	margin-top: 30px;
}
.section-five .text-muted{
	font-weight: 100 !important;
	color: #fff !important;
	font-size: 36px;
}
.section-five .btn{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	padding:15px 25px;
}
.section-five .btn-primary{
	margin-left: 20px;
}
.section-five .btn-secondary{
	border: 1px solid #4d4d51;
    background: none;
}
/*---------------------------------------------------------------------------------------*/
.section-six h4{
	font-size: 24px;
	text-transform: uppercase;
	margin: 29px 0 24px 0;
	color: #1a1a1a;
	text-align: center;
	font-weight: 600 !important;
	font-stretch: ultra-expanded !important;
}
th{
	border:1px solid #e0e0e0;
}
.section-six .btn-primary{
	text-align: center;
}
table h6{
	color: #999999;
	font-weight: 500;
	margin-bottom: 35px;
	font-size: 18px;
	text-align: center;
}
th h5{
	font-size: 48px;
	font-weight: 500;
	margin-top: 42px;
	text-align: center;
}
sup{
	font-size: 25px !important;
}
table p{
	width: 70%;
	margin:0 auto;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 40px;
	font-size: 17px;
	color: #999999;
	font-weight: 500;
}
table span{
	color: #008ed6;
}
/*---------------------------------------------------------------------------------------*/
.section-six table:hover :nth-child(2){
	background: #008ed6;
	color: #fafafa;
	transition: 0.2s;
}
.section-six table:hover .btn{
	color: #fff !important;
   	background:#008ed6 !important;
    text-decoration: none;
	transition: 0.2s;
}
table .btn{
	background: #fff !important;
	color: #008ed6;
	border:1px solid #e0e0e0;
	margin-top: 40px;
}
table :hover h6{
	color: #fff;
	 font-weight: 500;
	 margin-left: 1px;
	 transition: 0.2s;
}
table :hover h4{
	color: #008ed6;
	transition: 0.2s;
}
.section-six-table{
	margin-bottom: 60px;
}
/*---------------------------------------------------------------------------------------*/
.section-seven{
	background: #ededed;
	text-align: center;
}
.section-seven-title{
	padding-bottom: 70px;
}
.hr-left{
	text-align: left !important;
	margin: 35px 0 30px 0;
}
.section-seven-form-title-button{
	margin-bottom: 40px;
}
.response{
	width: 80%;
	background: #15141a;
	margin: 0 auto;
	position: relative;
}
.section-seven .col h5{
	color: #999999;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
	margin-top: 32px;
}
.map{
	background: url(../img/Warstwa15.png) no-repeat center top/cover;
	height: 370px;
	margin-top: -64px;
}
input[type="text"], input[type="password"],input[type="email"]{
	height: 50px;
	font-size: 15px;
	padding-left: 20px;
	border-radius: 3px;
	color: #444348;
	border: 1px solid #444348;
	background-color: transparent !important;
	font-weight:700;
	margin-bottom: 20px;
}
#exampleFormControlTextarea1{
	margin-left: 30px;
	height: 190px;
	background-color: transparent;
	border: 1px solid #444348;
	margin-top: 60px;
	resize: none;
}
input[type="text"]{
	margin-left: 0px;
}
.form-control {
  @include placeholder {
    color: #aaa;
    opacity: 1;
    transition: opacity 300ms;
  }
  &:focus {
    @include placeholder {
      opacity: 0;
    }
  }
}
@-webkit-keyframes autofill {
    to {
        color: #444348;
        background: transparent;
    }
}
input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
	::-webkit-input-placeholder {color:#444348; text-transform: uppercase;}
	::-moz-placeholder          {color:#444348; text-transform: uppercase;}
	:-moz-placeholder           {color:#444348; text-transform: uppercase;}
	:-ms-input-placeholder      {color:#444348; text-transform: uppercase;}
.section-seven-form{
	padding-top: 60px;
	margin-left: 60px;
}
/*---------------------------------------------------------------------------------------*/
footer{
	background: #15141a;
	text-align: center;
}
footer li{
	list-style-type: none;
	display: inline-block;
	margin: 15px;
}
.footer-menu i:hover{
	color: #008ed6;
	cursor: pointer;
}
footer .container{
	padding-bottom: 40px;
}
/*---------------------------------------------------------------------------------------*/
@media screen and (max-width: 1200px) {
#exampleFormControlTextarea1 {
    margin-left: 10px;
	}
}
@media screen and (max-width: 992px) {
  	.img-fluid{
   		display: none;
  }
	.section-second-title  h2{
		padding-top: 0px; 
	}
	.section-second-title{
	    margin-top: 0px;
	}
	.section-third-title {
		margin-bottom: 50px;
	}
	.section-five-button{
	margin-bottom: 50px;
	}
	#exampleFormControlTextarea1 {
    width: 96%;
	}
	.section-seven-form {

     margin-left: 0px;
	}
	input[type="text"] {
	    margin-left: 15px;
	    width: 95%;
	}
	header li {
  	margin: 0px;
  	display: inline-block !important;
	}
	.nav-item .m-2 {
   margin: .0rem!important;
}
@media screen and (max-width: 768px){
.reviews p {
    font-size: 14px;
	}
	.description{
		font-size: 12px;
	}
	input[type="text"] {
	    margin-left: 9px;
	}
	.section-seven-form-title-button{
		margin-top: 25px;
	}
}
@media screen and (max-width: 576px){
	.reviews img{
		display: none;
	}
	
	.section-five .btn {
    	font-size: 10px;
	}
	.section-seven-form{
   		width: 96%;    	
	}
	.form-control {
		width: 96%;
	}
	#exampleFormControlTextarea1 {
        width: 90%;
    	margin-left: 23px;
	}
	.response {
    	width: 100%;
	}
}
@media screen and (max-width:  320px){
#exampleFormControlTextarea1 {
        width: 90%;
    	margin-left: 15px;
	}
	.title-button-first{
	margin-bottom: 15px;
	}
}

@media screen and (max-width:  358px){
.title-button-first{
	margin-right: 0px;

	}
}