@font-face{
	font-family: Gotham;
	src:url("../font/GothamPro-Bold.ttf")format("truetype");
}
@font-face{
	font-family: Gotham-Book;
	src:url("../font/Gotham-Book.otf")format("truetype");
}
header {
 	background: url(../img/header.png) no-repeat center top/cover;
}
body{
	font-family: Gotham;
	color: #222222;
	min-width: 100%;
}
* {
	margin: 0;
 	padding: 0;
}
div {
  	box-sizing: border-box;
}
ul li{
	display: block;
	font-family: Myriad Pro, sans-serif;
	white-space: nowrap;
}
.nav-item{
	margin:0 20px;
}
.navbar-light .navbar-toggler-icon {
    background-image: url(../img/menu-icon.png) !important;
}
.navbar-light .navbar-toggler {
    border-color: rgba(224, 224, 224, 0.82) !important;
}
.nav-item a{
	font-size: 20px !important;
	color: #ffffff !important;
	text-decoration: none;
	box-sizing: padding-box;
    padding: 1.9rem 1rem !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: .0rem !important;
	padding-left: .0rem !important;
}
.iconMenu__item{
	margin:35px 12px 0 10px;
}
hr {
	position: absolute;
	background: #737373;
	height: 1px;
	width: 100%;
	border: none;
	margin-top: .0rem !important;
	margin-bottom: .0rem !important;
  	min-width: 100%;
}
h2, h3, h4{
	font-weight: 500;
}
h6 {
	font-size: 24.79px;
	color: #11749e;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 17px;
	margin: 0px;
	margin-left: 35px;
}
h2 {
  	letter-spacing: 3px;
  	font-size: 32px;
}
.title__creatives {
	font-size: 150px;
	color: #fff;
	letter-spacing: -7px;
	text-transform: uppercase;
	text-align: center;
	margin: 0px auto;
	padding-top: 150px;
}
header .navbar-light .navbar-nav .nav-link:hover {
    color: #008ed6 !important;
    box-shadow: 0 10px 0 #008ed6;
}
.title_button_circle i{
	font-size: 48px;
	color: #fff;
}
.title_button_circle i:hover{
	color: #11749e;}
.title h4{
	font-size: 13px;
	color: #fff;
	letter-spacing: 1px;
	font-family: Gotham-Book;
	margin-bottom: 15px;
}
.title_button_circle  a i{
  	height: 48px;
  	width: 48px;
  	border-radius: 50%;
}
.title_button_circle {
  	padding-top: 150px;
  	padding-bottom: 150px;
	text-align: center;
	margin: 0 auto;
}
.iconMenu__item i{
	font-size: 20px;
	color: #f5f5f5;
}
.iconMenu__item i:hover{
	color: #007bff;
	cursor: pointer;
}
.first_section{
	background:#11749e;
}
.first_section img{
	position: relative;
	z-index: 1;
}
.first_section h2, .third_section h2, .sixth_section h2, .seventh_section h2{
	position: relative;
	z-index: 2;
	top:-110px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}
.first_section_box h3 {
	text-transform: uppercase;
	color: white;
	letter-spacing: 2px;
	padding: 15px 0;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
}
.first_section_box img {
	border-radius: 50%;
}
.first_section_box p {
	margin-top: 20px;
	color: white;
	font-size: 15px;
	text-align: center;
	font-family: Gotham-Book;
}
.first_section_box a {
  	height: 133px;
  	display: block;
  	width: 133px;
  	margin: 0 auto;
  	border-radius: 50%;
}
.first_section_mini_title{
	padding-top: 150px;
}
.first_section_box{
	padding-bottom: 100px;
}
.second_section_image_right{
	background:url(../img/right.png)no-repeat center top/cover;
}
.second_section_image_left{
	background:url(../img/left.png)no-repeat center top/cover;
}
.second_section_text_left{
	background-color:#222222;
	color: #ffffff;
}
.second_section_text_right {
	background-color:#f3f3f3;
}
.second_section_textInfo_left, .second_section_textInfo_right{
	width: 470px;
	margin-top: 80px;
	font-family: Gotham-Book;
}
.second_section_textInfo_left h4, .second_section_textInfo_right h4{
	font-size: 13px;
}
.second_section_textInfo_left h3, .second_section_textInfo_right h3{
	font-family: Gotham;
	font-weight: 500;
	font-size: 25px;
	text-transform: uppercase;
	margin: 15px 0 45px 0;
}
.second_section_textInfo_left p, .second_section_textInfo_right p{
	font-size: 15px;
	margin-bottom: 115px;
}
.second_section_textInfo_left{
	float: right;
	margin-right: 60px;
}
.second_section_textInfo_right{
	float: left;
	margin-left: 83px;
}
.third_section_mini_title{
	margin-top: 90px;
}
.third_section h2{
	color: #222222;
}
.third_section h3, .sixth_section h3{
	font-size: 30px;
	font-family: Gotham-Book;
	margin-bottom: 80px;
}
.third_section_box p{
	font-size: 15px;
	font-family: Gotham-Book;
	text-align: center;
	margin-bottom: 110px;
}
.third_section_box h3{
	font-size: 18px;
	text-transform: uppercase;
	color: #11749e;
	font-weight: 500;
	text-align: center;
	margin:35px 0 15px 0;
	line-height: 2.0;
}
.fourth_section{
	background:#11749e;
}
.fourth_section_block{
	margin-top: 15px;
}
.fourth_section_box p{
	font-size: 15px;
	font-family: Gotham-Book;
	color: #fff;
}
.fourth_section_box {
	margin-top: 105px;
	margin-bottom: 150px;
}
.fourth_section_box img{
	height: 100%;
	margin-top: 15px;
}
.fifth_section {
  	background: url(../img/photoTelephone.png) no-repeat center top/cover;
  	background-attachment: fixed;
}
.fifth_section h3{
	text-transform: uppercase;
  	margin-bottom: 20px;
  	font-weight: 500;
  	font-size: 25px;
}
.fifth_section p {
	font-size: 15px;
 	margin-bottom: 30px;
  	line-height: 1.5;
  	width: 470px;
	font-family: Gotham-Book;
}
.fifth_section_block{
	margin-top: 220px;
  	color: #fff;
}
.fifth_section_block_phone{
	margin-top: 100px;
}
.fifth_section_textFHD{
	background: #11749e;
  	margin-bottom: 15px;
  	text-transform: uppercase;
  	font-size: 15px;
}
.fifth_section_FHD h4{
	padding: 10px;
}
.fifth_section_photo_telephone{
	margin-right: 100px;
	margin-bottom: 90px;
}
.sixth_section h2{
	color: #222222;
}
.sixth_section_mini_title{
	margin-top: 80px;
}
.sixth_section_info {
	text-align: center;
	width: 215px;
	background: #fff;
	position: relative;
	top: -50px;
	margin: 0 auto;
}
.sixth_section_info h4 {
  	text-transform: uppercase;
  	color: #11749e;
  	font-size: 18px;
  	font-weight: 500;
  	padding: 20px 0 0px 0;
}
.sixth_section_info h5 {
  	color: #222222;
  	font-size: 14px;
}
.seventh_section{
	background: url(../img/Layer.png) no-repeat center top/cover;
	background-attachment: fixed;
	padding-bottom: 100px;
}
.seventh_section_mini_title{
	padding-top: 145px;
	margin-bottom: 50px;
}
#example-text-input{
  height: 45px;
  font-size: 15px;
  padding-left: 20px;
  border-radius: 1px;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 15px;
}
#example-Input-Email{
  border-radius: 1px;
  height: 45px;
  font-size: 15px;
  padding-left: 20px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 15px;
}
.form-control::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: white; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: white; } 
#textarea{
  	height: 150px;
  	resize: none;
  	margin-left: 0px;
 	margin-top: 45px;
  	padding-left: 20px;
 	padding-top: 15px;
   	border-radius: 1px;
    background-color: transparent;
    color: #fff;
    font-size: 15px;
}
.submit{
	text-align: center;
	margin: 0 auto;
	border-radius: 0px;
	text-transform: uppercase;
	padding: 10px 55px 19px;
	font-size: 24px;
	margin-top: 45px;
}
.seventh_section h2{
	top: -160px;
}
.map {
  	height: 335px;
  	background:url(../img/Layer98.png) no-repeat center top/cover;
}
footer {
	background: #222222;
	color: #fff;
	font-size: 13px;
}
.third_section_box-min{
	text-align: center;
}
.footerText, .mini_logo {
	margin: 45px 0 45px 0;
}
.row{
	margin-right: 0px;
    margin-left: 0px;
}

@media screen and (max-width: 1320px) {
.second_section_textInfo_left{
	margin-right: 80px;
	}
}

@media screen and (max-width: 1220px) {
.second_section_textInfo_left, .second_section_textInfo_right{
	width: 400px;
}
.fourth_section_box img{
	margin-top: 35px;
}
.fifth_section_photo_telephone{
	margin-right: 0%;
}
.third_section_box, .subBlock {
	margin:0 auto;
}

@media (min-width: 768px){
.fourth_section_box p{
	font-size: 14px;
}
.menu__item {
    margin: 0 10px;
    margin-top: 20px;
}
.fifth_section_block {
    margin-top: 170px;
	}
}

@media (max-width: 805px){
.menu__item {
    margin: 0 5px;
    margin-top: 20px;
}
.iconMenu__item {
    margin: 20px 5px 0 5px;
	}
}
.subBlock p{
	margin:0 auto;
}
.subBlock{
	margin-top:25px;
	}
}
@media only screen and (min-device-width : 992px) and (max-device-width : 1220px){
.third_section_box-min img{
	width: 225px;
}
.sixth_section_info {
    margin-left: 5px;
	}
}
@media only screen and (min-device-width : 992px) and (max-device-width : 992px){
.iconMenu__item {
    margin: 35px 12px 0 10px;
	}
}
@media screen and (max-width: 1073px) {
	.second_section_textInfo_left, .second_section_textInfo_right{
	width: 400px; 
}
@media screen and (max-width: 992px) {
	.second_section_textInfo_left, .second_section_textInfo_right{
	width: 350px;
}
.fifth_section_photo_telephone{
	display: none;
}
.fourth_section_box img {
    margin-top: 55px;
    height: 50px;
}
.mini_logo, .footerText {
	margin:10px;
	font-size: 12px;
	text-align: center;
    }
    .fourth_section_box {
    margin-top: 0px;
    margin-bottom: 0px;
}
#example-text-input {
    margin-bottom: 20px;
}
#textarea {
    margin-top: 20px;
}
.second_section_textInfo_left{
	margin-right: 60px;
}
.title__creatives {
    font-size: 90px;
}
.fifth_section_photo_telephone{
	margin-right: 0%;
}
.title h6{
	font-size: 18px;
	}
}
@media screen and (max-width: 920px) {
.second_section_textInfo_left, .second_section_textInfo_right{
	width: 250px;
}
.wow{
 	display: block;
	}
}
@media screen and (max-width: 320px) {
.fourth_section_box img{
	margin-right:0px;
	margin-top: 50px;
	} 
}
@media screen and (max-width: 769px) {
.fifth_section_block_phone img, .second_section{
 	height: 550px;
 	display: none;
 }
.fifth_section_block {
    margin-top: 20px;
}
.fifth_section p {
    width: 100%;
}
.title__creatives{
	font-size: 56px;
	letter-spacing: 0px;
}
.third_section h3{
	text-align: center;
}
.sixth_section h3 {
    font-size: 28px;
	}
.sixth_section_info{
	border: 1px solid #a5a5a5;
}
}
@media screen and (max-width: 696px) {
	.second_section_text_right, .second_section_text_left{
    	display: none;
    }
}
@media screen and (max-width: 425px) {
.title__creatives{
	font-size: 40px;
}
.fourth_section_box img{
	margin-right:0px;
	margin-top: 35px;
} 
.fourth_section_box p {
    font-size: 10px;
}
.title h6{
	font-size: 10px;
	letter-spacing: 7px;
    margin-left: 0px;
}
.title_button_circle i {
    font-size: 18px;
}
.second_section_text_right, .second_section_text_left{
    display: none;
}
.fourth_section_box img{
        height: 35px;
}
.title_button_circle {
    padding-top: 50px;
    padding-bottom: 50px;
}
.letters{
	height: 115px;
}
.first_section h2{
	font-size: 28px;
}
.third_section h2{
	font-size: 28px;
	margin-top: 35px;
}
.third_section h3, .sixth_section h3 {
    font-size: 18px;
    text-align: center;
    margin: 10px 1px;
}
.third_section_box-min{
    text-align: center;
    margin: 0 auto;
}
.third_section_box p{
    margin-bottom: 20px;
}
.fifth_section_block {
    margin-top: 20px;
}
.fifth_section_FHD h4{
    font-size: 10px;
}
.fifth_section_textFHD:last-child{
    margin-right: 10px !important;
}
.fifth_section_textFHD:first-child{
    margin-right: 110px !important;
}
.fifth_section_textFHD:nth-child(2){
    margin-right: 60px !important;
}
.sixth_section_info{
    border: 1px solid #b5b5b5;
}
.seventh_section h2{
	font-size: 20px;
	top: -132px;
}
.seventh_section_mini_title {
    padding-top: 45px;
}
.form-group input{
	margin-bottom: 20px;
}
#textarea {
    margin-top: 0px;
	}
}
@media screen and (max-width: 1023px) {
  .wow{
        animation-name: none !important;
        visibility: visible !important;
  }
}