@import url("https://fonts.googleapis.com/css?family=Roboto:300,700");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Hammersmith+One");
header {
  background: url(../img/background.png) no-repeat center top/cover;
  text-align: center;
  margin-top: -1px;
}

body {
  font-family: Myriad Pro, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

.headerNavbar {
  position: sticky !important;
  z-index: 10;
  top: 0;
  background: url(../img/navbar.png) no-repeat center top/cover;
}

.nav-item a {
  font-size: 13px;
  color: #fff !important;
  font-weight: 600;
  margin-right: 25px;
  text-transform: uppercase;
}

.nav-item a:hover {
  transition: all 0.5s ease-out;
  color: #00e0d0 !important;
}

.navbar-nav {
  text-align: center !important;
}

.product-view {
  background: url(https://dy999ib17dqym.cloudfront.net/skin/frontend/peets_redesign/default/images/bg-type-1.png);
}

.hrAll {
  background: #655c80;
  height: 1px;
  width: 50px;
  border: none;
  margin: 30px auto 50px;
}

p {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 14px;
  color: #78777b;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Playfair Display", serif !important;
  letter-spacing: 0.7px;
  font-weight: 100;
}

.container h3 {
  font-size: 22px;
  text-align: center;
  margin: 0 auto;
  color: #413d4b;
  margin-top: 70px;
  margin-bottom: 20px;
  font-family: "Playfair Display", serif !important;
}

.headerTitle h1 {
  font-size: 32px;
  color: #fff;
  text-align: center;
  font-weight: 500;
  padding-top: 165px;
  margin-bottom: 25px;
  font-family: "Playfair Display", serif !important;
}

.headerTitle__Description p {
  font-size: 14px;
  line-height: 1.7;
  color: #fff;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 30px;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(../img/menu-icon.png) !important;
}

.navbar-light .navbar-toggler {
  border-color: rgba(224, 224, 224, 0.82) !important;
}

.header__click {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-top: 35px;
  margin-bottom: 85px;
  border: 2px solid #fff;
}

.active, header__click:hover {
  background-color: #fff;
  height: 10px;
  width: 10px;
}

#headerTitle__Description-text_1 p, #headerTitle__Description-text_2 p, #headerTitle__Description-text_3 p, #headerTitle__Description-text_4 p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-left: 100px;
  margin-right: 100px;
}

/*---------------------------------------------------------------------------------------------*/
.sectionOne-box .btn, .sectionFourth .btn, .sectionFifth .btn, .sectionSeventh .btn, .header .btn {
  border: 1px solid #00e0d0;
  padding: 11px;
  color: #00e0d0;
  border-radius: 2px;
  margin-bottom: 70px;
  font-weight: 700;
}

.sectionOne-box .btn a, .sectionFourth .btn a, .sectionFifth .btn a, .sectionSeventh .btn a, .header .btn a {
  text-decoration: none;
  color: #00e0d0 !important;
}

.sectionOne-box .btn:hover, .sectionFourth .btn:hover, .sectionFifth .btn:hover, .sectionSeventh .btn-outline-primary:hover, .header .btn:hover, .btn-outline-primary:active, .btn-outline-primary:focus {
  border: 1px solid #00e0d0 !important;
  background: #00e0d0 !important;
  color: #fff !important;
  box-shadow: none !important;
}

.sectionOne-box .btn:hover a, .sectionFourth .btn:hover a, .sectionFifth .btn:hover a, .sectionSeventh .btn-outline-primary:hover a, .header .btn:hover a, .btn-outline-primary:active a, .btn-outline-primary:focus a {
  color: #fff !important;
}

.btn-outline-primary::-moz-focus-inner {
  outline: none !important;
  box-shadow: none !important;
}

.sectionOne-box {
  margin-top: 70px;
}

.sectionOne-box p {
  color: #716e78;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 30px;
}

.sectionOne-box h3 {
  color: #413d4b;
  font-size: 22px;
  margin-bottom: 30px;
  font-family: "Playfair Display", serif !important;
  margin-top: 0px;
}

/*---------------------------------------------------------------------------------------------*/
.sectionSecond {
  background: url(../img/overlay.png) no-repeat center top/cover;
}

.sectionSecond__title {
  color: #fff;
  padding-bottom: 200px;
  margin-top: 100px;
}

.sectionSecond__playVideo {
  text-align: center;
  padding-top: 240px;
}

.sectionSecond__playVideo img {
  border-radius: 50%;
}

.sectionSecond__playVideo a {
  width: 100px;
  margin: 0 auto;
  border-radius: 50%;
}

/*---------------------------------------------------------------------------------------------*/
.sectionThird h2 {
  font-size: 14px;
  color: #78777b;
}

.sectionThird__box-subsection {
  text-align: center;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  border-collapse: collapse;
}

.sectionThird__box-subsection img {
  margin-bottom: 35px;
  height: 50px;
  margin-top: 38px;
}

.sectionThird__box-subsection h4 {
  margin-bottom: 25px;
  font-size: 14px;
  color: #413d4b;
  font-weight: 700;
}

.sectionThird__box-subsection p {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.5;
  color: #7a7a7a;
}

.sectionThird__box-subsection:nth-last-child(-n+1) {
  border-right: none;
}

.sectionThird__box-clear {
  border-bottom: none;
}

/*---------------------------------------------------------------------------------------------*/
.sectionFourth {
  background: url(../img/overlay2.png) no-repeat center top/cover;
  text-align: center;
}

.sectionFourth h2 {
  color: #fff;
  font-size: 14px;
  font-weight: 100;
}

.sectionFourth h3 {
  padding-top: 70px;
  color: #fff;
}

.sectionFourth__h2 {
  margin: 60px 0 40px 0;
}

.sectionFourth__person {
  display: inline-block;
}

.borderPerson {
  border: 1px solid #7c7890;
}

.borderPerson h5 {
  color: #f3f3f5;
  margin-top: 20px;
  font-size: 14px;
}

.borderPerson h6 {
  color: #afaebb;
  margin-bottom: 22px;
  font-size: 13px;
  font-weight: 400;
}

/*---------------------------------------------------------------------------------------------*/
.sectionFifth {
  text-align: center;
}

.sectionFifth h2 {
  margin: 70px 0;
  font-size: 14px;
  font-weight: 100;
  float: right;
}

.sectionFifth h3 {
  text-align: left;
  display: inline-block;
  margin: 70px 0;
}

.sectionFifth .btn {
  margin: 50px 0;
  padding: 10px 20px;
}

.sectionFifth__img img {
  width: 16.6666666667%;
}

/*---------------------------------------------------------------------------------------------*/
.sectionSixth {
  background: url(../img/overlay3.png) no-repeat center top/cover;
  text-align: center;
}

.sectionSixth-commas {
  padding-top: 70px;
}

.sectionSixth p {
  font-family: "Playfair Display", serif !important;
  color: #ebebeb;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 16px;
  letter-spacing: 1px;
}

.sectionSixth h5 {
  font-family: Playfair Display;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
}

.sectionSixth h6 {
  font-size: 13px;
  color: #bfbcc9;
  font-weight: 100;
}

.sectionSixth__slideshow__mySlides {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-bottom: 50px;
}

.prev {
  float: right;
  margin-top: 10px;
  cursor: pointer;
}

.next {
  float: left;
  margin-top: 10px;
  cursor: pointer;
}

.sectionSixth__slideshow__mySlides:not(.show) {
  opacity: 1 !important;
}

/*---------------------------------------------------------------------------------------------*/
.sectionSeventh h3 {
  font-size: 22px;
  float: left;
  font-weight: 600;
  margin-bottom: 30px;
}

.sectionSeventh .btn {
  padding: 10px 30px;
  margin-top: 20px;
}

input[type="text"], input[type="password"], input[type="tel"], input[type="email"] {
  height: 45px;
  font-size: 14px;
  margin-bottom: 22px;
  padding-left: 20px;
  border: 1px solid #ebebeb;
  background-color: transparent;
  border-radius: 0px;
  color: #ebebeb;
}

#exampleFormControlTextarea {
  font-size: 14px;
  padding-left: 20px;
  padding-top: 10px;
  height: 200px;
  border-radius: 0px;
}

.sectionSeventh__second h3 {
  margin-left: 84px;
}

.brandFirst {
  width: 170px;
  display: inline-block;
  text-align: center;
  float: left;
  margin-right: 45px;
  margin-bottom: 45px;
}

.brandFirst img {
  margin-bottom: 45px;
}

.client {
  width: 385px;
  margin-left: 84px;
  display: inline-block;
  margin-bottom: 70px;
}

.flexbox-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/*---------------------------------------------------------------------------------------------*/
footer {
  background: url(../img/overlayFooter.png) no-repeat center top/cover;
}

.sectionFooter__box {
  margin-top: 50px;
  color: #fff;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.6px;
  padding-right: 0px !important;
}

.sectionFooter__box h5 {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 15px;
}

.sectionFooter__box p {
  margin-top: 8px;
}

input[type="submit"] {
  background: url("../img/paper122.png");
  height: 45px;
  width: 60px;
  border: none;
  cursor: pointer;
  opacity: 1;
}

input[type="submit"]:hover {
  opacity: 0.5;
}

.footer__submit {
  color: #fff;
}

.sectionFooter__submit--miniIcon {
  margin-right: 11px;
}

.sectionFooter__submit--miniIcon img {
  border-radius: 50%;
}

.sectionFooter__submit--miniIcon img:hover {
  opacity: 0.5;
}

footer {
  /*---------------------------------------------------------------------------------------------*/
}

footer .footerMenu a {
  float: left;
  color: #fff;
  margin-left: 10px;
  margin-top: 36px;
  margin-bottom: 50px;
  text-decoration: none;
}

footer .footerMenu a:hover {
  color: #00e0d0;
}

footer h6 {
  color: #fff;
  float: right;
  margin-top: 50px;
}

@media screen and (max-width: 992px) {
  .headerTitle h1 {
    padding-top: 35px;
  }
  .nav-link {
    padding: 0rem !important;
  }
  .nav-item a {
    margin-right: 0px;
    font-size: 14px;
    letter-spacing: 10px;
  }
  .subsection {
    border: 1px solid #ebebeb;
    border-collapse: collapse;
  }
  .subsection:nth-last-child(-n+1) {
    border-right: 1px solid #ebebeb;
  }
  .brandFirst {
    width: 100%;
  }
  .brandFirst img {
    max-width: 100%;
    height: auto;
    margin-bottom: 0;
  }
  .title h1 {
    margin-top: 0px;
  }
  .nav-item a:hover {
    color: #07c4be !important;
  }
  .client {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .sectionSeventh h3 {
    margin-left: 0px;
    margin-top: 0px;
  }
  .sectionFooter__box-logo {
    margin: 30px auto;
    display: block;
  }
  .sectionThird-box-second .subsection {
    border-bottom: 1px solid #ebebeb;
  }
}

@media screen and (min-width: 992px) {
  .flexbox-wrapper {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .sectionOne-box img {
    display: none;
  }
  .sectionOne-box .btn {
    margin: 30px auto;
    display: block;
  }
  .sectionSixth p {
    height: 200px;
  }
  .miniIcon a {
    margin-right: 8px;
  }
  footer a, footer h6 {
    font-size: 11px;
  }
  .sectionFourth__person img {
    width: 125px;
  }
}

@media screen and (max-width: 1200px) {
  .sectionFourth__person {
    margin-top: 30px;
  }
  #headerTitle__Description-text_1 p, #headerTitle__Description-text_2 p, #headerTitle__Description-text_3 p, #headerTitle__Description-text_4 p {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 368px) {
  .sectionSixth p {
    height: 275px;
  }
  footer a {
    font-size: 8px;
  }
}

@media (max-width: 768px) and (min-width: 576px) {
  .miniIcon a {
    margin-right: 50px;
  }
  .miniIcon a:last-child {
    margin-right: 0px;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  .miniIcon a {
    margin-right: 5px;
  }
}
