@font-face {
  font-family: Roboto_light;
  src: url(/font/roboto/Robotolight.ttf); }

@font-face {
  font-family: Roboto;
  src: url(/font/roboto/Roboto.ttf); }

@font-face {
  font-family: Roboto_bold;
  src: url(/font/roboto/Robotobold.ttf); }

@font-face {
  font-family: Roboto_regural;
  src: url(/font/roboto/RobotoRegular.ttf); }

@font-face {
  font-family: 'Roboto_light';
  src: url(/font/roboto/Robotolight.ttf) format("ttf");
  font-weight: normal; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

li {
  list-style-type: none; }

input, select {
  vertical-align: middle; }

.container {
  margin: 0 auto;
  max-width: 1366px;
  padding: 0 30px; }

header {
  background: #f8f9fa; }

.header_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.logo {
  font-size: 30px;
  text-transform: uppercase;
  font-family: Roboto;
  color: #000;
  margin: 19px 0 15px 25px; }
  .logo a {
    text-decoration: none !important;
    color: #000; }

.header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header_menu a {
    color: #3e3e3f;
    text-decoration: none;
    font-family: Roboto_light;
    font-size: 16px;
    margin-right: 24px; }
  .header_menu button {
    font-size: 16px;
    color: #3e3e3f;
    border-radius: 5px;
    outline: none;
    border: 1px solid #3e3e3f;
    background-color: Transparent;
    padding: 5px 15px;
    margin: 10px 0;
    cursor: pointer; }

.s1 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.s1 h2 {
  color: #bf1985;
  font-family: Roboto_bold;
  font-size: 35px;
  margin-top: 210px; }

.s1 ul {
  margin-top: 50px; }

.s1 li {
  font-size: 20px;
  color: #666666;
  font-family: Roboto_regural;
  line-height: 1.75; }

.s1 sup {
  font-size: 11px;
  font-weight: 700; }

.logo_img {
  margin-top: -50px; }

.img_preparation {
  position: absolute;
  width: 73%;
  height: 70%;
  bottom: 35px;
  left: 20px;
  z-index: 99999; }

.product_description {
  margin-left: -100px;
  z-index: 9999; }

.production_img {
  position: relative;
  overflow: hidden;
  width: 100%; }

.production_img::after {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0px;
  right: -78px;
  width: 48%;
  background: url(../img/white.png) no-repeat;
  z-index: 2; }

.production_img::before {
  content: "";
  display: block;
  height: 65%;
  position: absolute;
  bottom: -14px;
  width: 100%;
  background: url(../img/gradient.png) no-repeat;
  z-index: 2; }

.s2 .s2_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.s2 .s2_box_info {
  font-family: Roboto_light;
  font-size: 18px;
  color: #404040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center; }
  .s2 .s2_box_info img {
    margin: 0 auto; }
  .s2 .s2_box_info h3 {
    margin-top: 20px;
    line-height: 1.5; }
  .s2 .s2_box_info sup {
    font-size: 11px;
    font-weight: 700; }

.s2 .s2_box_for_two {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.s2 .s2_box_info {
  width: 250px; }

.s3 {
  background: #f7f7f7; }
  .s3 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 62px; }
  .s3 .img_medicine {
    margin-left: 103px;
    margin-right: 108px; }
  .s3 h4 {
    color: #bf1985;
    font-family: Roboto_bold;
    font-size: 36px; }
  .s3 p {
    font-family: Roboto_light;
    font-size: 24px;
    color: #000000;
    margin-top: 35px;
    line-height: 1.5; }
  .s3 h5 {
    color: #bf1985;
    font-family: Roboto_bold;
    font-size: 24px;
    margin-top: 55px;
    margin-bottom: 40px; }
  .s3 .img_flower {
    display: block;
    margin: 0 auto; }
  .s3 .title_img {
    font-family: Roboto_light;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    margin-top: 15px;
    display: block;
    line-height: 1.25; }
  .s3 .active {
    color: #bf1985; }
  .s3 .tab_item {
    font-size: 24px;
    font-family: Roboto_light;
    line-height: 1.25;
    margin-bottom: 35px;
    margin-top: 25px; }
  .s3 .tab {
    font-size: 24px;
    font-family: Roboto_regural;
    position: relative;
    margin: 0 20px; }
  .s3 .tab {
    border-right: 1px solid #d3d3d3;
    padding-right: 50px;
    padding: 15px 50px 15px 0px;
    cursor: pointer; }
  .s3 .tab_content {
    padding-top: 35px; }

body > div.s3 > div > div.stock > div > div.tabs > span:nth-child(1) {
  margin-left: 0; }

body > div.s3 > div > div.stock > div > div.tabs > span:nth-child(4) {
  border-right: none; }

#elem {
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  margin-left: 8px;
  padding-bottom: 2px; }

#elem.transform {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.s4 {
  overflow-x: hidden; }
  .s4 p {
    font-size: 24px;
    font-family: Roboto_light;
    margin-bottom: 45px;
    max-width: 1232px;
    text-align: left;
    line-height: 1.5; }
  .s4 h4 {
    color: #bf1985;
    font-family: Roboto_bold;
    font-size: 36px;
    padding-top: 75px;
    padding-bottom: 50px;
    text-align: center; }
  .s4 button {
    background: #2496eb;
    color: #fff;
    border: none;
    font-size: 24px;
    font-family: Roboto_light;
    border-radius: 5px;
    margin-bottom: 40px;
    padding: 9px 20px;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 0 auto; }
  .s4 button:focus {
    background: #5ba4da; }
  .s4 .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px; }
  .s4 .wrapper {
    font-family: Roboto_regural;
    font-size: 24px;
    color: #3e3e3e; }
  .s4 .wrapper .active {
    color: #fff;
    background: #2299f1; }
  .s4 .tab {
    border: 1px solid #2299f1;
    color: #2299f1;
    border-radius: 5px;
    width: 142px;
    height: 43px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer; }
  .s4 div.tabs > span:nth-child(2) {
    margin-right: 27px;
    margin-left: 27px; }
  .s4 .tab_item p {
    margin-bottom: 0;
    line-height: 1.5; }
  .s4 .tab_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .s4 .img_product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    margin-left: 100px;
    display: block;
    max-width: 100%;
    height: auto; }
    .s4 .img_product img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 0 auto; }
  .s4 .img_product a {
    color: #1a91eb;
    font-size: 24px;
    font-family: Roboto_light;
    text-align: right;
    margin-right: 50px;
    display: block; }
  .s4 .instruction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-left: 70px;
    margin-top: 50px; }
  .s4 .instruction_people p {
    font-size: 24px;
    text-align: left; }
  .s4 .instruction_people {
    margin-left: 73px; }
  .s4 .instruction_people span {
    font-weight: 700;
    text-align: left; }
  .s4 .info {
    font-size: 14px;
    text-align: left;
    margin-top: 35px;
    padding-bottom: 84px; }

.img_product:before {
  content: "";
  display: block;
  height: 65%;
  position: absolute;
  top: -82px;
  left: -143px;
  width: 130%;
  background: url(/img/VectorSmartObjectcopy5.png) no-repeat;
  z-index: -1; }

.active_rotate {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

body > div.s4 > div > div > div > div.tab_content > div:nth-child(1) > div.instruction_all > div:nth-child(1), body > div.s4 > div > div > div > div.tab_content > div:nth-child(2) > div.instruction_all > div:nth-child(1), body > div.s4 > div > div > div > div.tab_content > div:nth-child(3) > div.instruction_all > div:nth-child(1) {
  margin-top: 0; }

body > div.s4 > div > div > div > div.tab_content > div:nth-child(2) > div.img_product > img {
  margin-left: -100px;
  max-width: 131%; }

body > div.s4 > div > div > div > div.tab_content > div:nth-child(3) > div.img_product:before {
  top: -70px;
  left: -155px; }

body > div.s4 > div > div > div > div.tab_content > div:nth-child(2) > div.img_product:before {
  top: -203px; }

body > div.s4 > div > div > div > div.tab_content > div:nth-child(3) > div.instruction_all {
  margin-left: -6px;
  margin-top: -10px; }

body > div.s4 > div > div > div > div.tab_content > div:nth-child(1) > div.instruction_all {
  margin-left: 17px; }

body > div.s4 > div > div > div > div.tab_content > div:nth-child(3) > div.img_product:before {
  top: -50px;
  left: -157px; }

body > div.s4 > div > div > div > div.tab_content > div:nth-child(1) > div.instruction_all > div:nth-child(3) > img, body > div.s4 > div > div > div > div.tab_content > div:nth-child(3) > div.instruction_all > div:nth-child(3) > img {
  margin-left: 15px; }

.s5 {
  background: #f7f7f7;
  text-align: center; }
  .s5 h4 {
    color: #bf1985;
    font-family: Roboto_bold;
    font-size: 36px;
    padding-top: 45px;
    padding-bottom: 34px; }
  .s5 button {
    background: #2496eb;
    color: #fff;
    border: none;
    font-size: 24px;
    font-family: Roboto_light;
    border-radius: 5px;
    margin-bottom: 40px;
    padding: 9px 20px;
    cursor: pointer; }
  .s5 button:focus {
    background: #5ba4da; }

@media screen and (max-width: 1298px) {
  .s3 .tab {
    padding: 10px;
    margin: 0px; } }

@media screen and (max-width: 1040px) {
  body > div.s4 > div > div > div > div.tab_content > div:nth-child(1) > div.instruction_all {
    margin-left: 0; }
  .s4 .instruction {
    margin-left: 60px; }
  .s3 .tab {
    padding: 4px;
    margin: 0px; }
  .s2_box_for_two {
    width: 50%; } }

@media screen and (max-width: 991.98px) {
  .logo {
    margin-top: 15px;
    margin-left: 10px; }
  .s1 .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  br {
    display: none; }
  .product_description {
    margin-left: 0; }
  .s1 h2 {
    margin-top: 15px; }
  .s3 .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .tab_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .s3 .tab {
    border: none;
    padding-right: 0px;
    padding: 0px 0px;
    margin: 0 15px; }
  .s3 .tab_content {
    padding-top: 0px; }
  .s4 .instruction {
    margin-left: 0; }
  .s4 .instruction_people {
    margin-left: 25px; }
  .s1 h2 {
    font-size: 18px; }
  .s1 ul {
    margin-top: 15px; }
  .s1 li {
    font-size: 12px; }
  .s2 .s2_box_info h3 {
    font-size: 14px; }
  .s3 .img_medicine {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
  .s3 .img_medicine span {
    display: block;
    margin: 15px auto; }
  .s4 .img_product a {
    margin: 15px auto; }
  .s4 .img_product {
    margin-left: 0; }
  body > div.s4 > div > div > div > div.tab_content > div:nth-child(2) > div.img_product:before {
    top: 0;
    height: 100%; }
  body > div.s4 > div > div > div > div.tab_content > div:nth-child(2) > div.img_product > img {
    margin-left: auto; }
  .menu button {
    font-size: 16px;
    color: #3e3e3f;
    border-radius: 5px;
    outline: none;
    border: 1px solid #3e3e3f;
    background-color: Transparent;
    padding: 5px 15px;
    margin: 10px 0; }
  .logo_img {
    margin-top: 0; } }

@media screen and (max-width: 768px) {
  header {
    display: none; }
  .production_img {
    margin-top: 60px; }
  #menu_top li.actives {
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    background: #f5ecec; }
  .header_hidden {
    position: fixed !important;
    z-index: 999999999; }
  .logo_img, .img_preparation {
    display: block;
    max-width: 100%;
    height: auto; }
  .img_preparation {
    bottom: 0; }
  .s5 h4 {
    font-size: 18px; }
  .s5 button {
    font-size: 14px; }
  .s2_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .s2 .s2_box {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .s4 .img_product {
    margin-left: 0; }
  .s4 .instruction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .s4 .instruction_people p {
    font-size: 18px; }
  .instruction_people {
    text-align: center; }
  .s4 .instruction_people p {
    text-align: center; }
  .s4 .instruction_people span {
    font-size: 14px; }
  body > div.s4 > div > div > div > div.tab_content > div:nth-child(1) > div.instruction_all {
    margin-left: 0; }
  body > div.s4 > div > div > div > div.tab_content > div:nth-child(2) > div.img_product > img {
    margin-left: 0;
    margin-top: 15px; }
  .s2_box_info {
    width: 150px; }
  .s2 .s2_box_for_two {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; } }

@media screen and (min-width: 567px) and (max-width: 768px) {
  body > div.s2 > div > div > div:nth-child(2) {
    margin-top: 25px; } }

@media screen and (min-width: 768px) {
  .header {
    display: none; } }

@media screen and (max-width: 576px) {
  .s4 .instruction {
    margin-left: 0; }
  .s4 .instruction_people {
    margin-left: 0; }
  .img_product img {
    height: auto;
    width: 100%; }
  .s3 .tab {
    border: none;
    padding-right: 0px;
    padding: 0px 0px;
    margin: 0 5px; }
  .s4 .info {
    padding-bottom: 20px; }
  .s4 .instruction_people p {
    margin: 0px auto; }
  .s4 .tab {
    font-size: 18px; }
  .s4 h4 {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px; }
  .s4 button {
    font-size: 14px; }
  .s4 p {
    font-size: 18px; }
  .s3 .tab_item {
    font-size: 18px; }
  .s3 h4 {
    font-size: 18px; }
  .s3 p {
    font-size: 14px; }
  .s3 .img_medicine {
    margin-left: 0;
    margin-right: 0; }
  .s2 .s2_box_for_two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .s2_box_info {
    margin-top: 15px; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .s2 .s2_box_info img {
    width: 50%; } }
